<div class="sidebar" data-color="purple" data-background-color="white" data-image="/static/assets/img/sidebar-1.jpg">
  <div class="logo">
    <a target="_blank" rel="noopener noreferrer" href="#" class="simple-text logo-normal">
      UVB照射 管理サイト
    </a>
  </div>
  <div class="sidebar-wrapper">
    <ul class="nav">
      {% if request.user.is_authenticated %}

      <!-- <li class="nav-item {% if '/' in segment %} active {% endif %}"">
        <a class="nav-link" href="/">
          <i class="material-icons">dashboard</i>
          <p>ダッシュボード</p>
        </a>
      </li> -->
      <li class="nav-item {% if '/' in segment %} active {% endif %}">
        <a class="nav-link" href="/dashboard.html">
          <i class="material-icons">dashboard</i>
          <p>!!ダッシュボード</p>
        </a>
      </li>
      <li class="nav-item {% if 'house' in segment %} active {% endif %}">
        <a class="nav-link" href="/house.html">
          <i class="material-icons">warehouse</i>
          <p>ハウス</p>
        </a>
      </li>
      <li class="nav-item {% if 'house_list' in request.path  %} active {% endif %}">
        <a class="nav-link" href="/house_list">
          <i class="material-icons">warehouse</i>
          <p>＊＊ハウス</p>
        </a>
      </li>
      <li class="nav-item {% if 'settings' in segment %} active {% endif %}">
        <a class="nav-link" href="/settings.html">
          <i class="material-icons">settings_suggest</i>
          <p>光源設定</p>
        </a>
      </li>
      {% comment %} new settings  {% endcomment %}
      <li class="nav-item {% if '/farm_manage' in request.path%} active {% endif %}">
        <a class="nav-link" href="/farm_manage">
          <i class="material-icons">settings_suggest</i>
          <p>**光源設定</p>
        </a>
      </li>
      <li class="nav-item {% if '/user_list' in request.path or '/add_user' in request.path or '/update_user' in request.path %} active {% endif %}">
        <a class="nav-link" href="/user_list">
            <i class="material-icons">manage_accounts</i>
            <p>管理者</p>
        </a>
    </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'logout' %}">
          <i class="material-icons">logout</i>
          <p>ログアウト</p>
        </a>
      </li>

      {% else %} {% endif %}
    </ul>
  </div>
</div>