<div class="sidebar" data-color="purple" data-background-color="white" data-image="/static/assets/img/sidebar-1.jpg">
  <div class="logo">
    <a target="_blank" rel="noopener noreferrer" href="#" class="simple-text logo-normal text-decoration-none">
      UVB照射 管理サイト
    </a>
  </div>
  <div class="sidebar-wrapper">
    <ul class="nav">
      {% if request.user.is_authenticated %}
      <li class="nav-item {% if 'dashboard' in segment or 'house_lights' in segment %} active {% endif %}">
        <a class="nav-link" href="/">
          <i class="material-icons">dashboard</i>
          <p>ダッシュボード</p>
        </a>
      </li>
      <li class="nav-item {% if 'LED_control' in segment %} active {% endif %}">
        <a class="nav-link" href="/LED_control">
          <i class="material-icons">wb_incandescent</i>
          <p>LED管理</p>
        </a>
      </li>
     
      {% if user_role_id == '0' or user_role_id == '1' %}
      <li
        class="nav-item {% if 'house_list' in request.path or 'add_house' in request.path or 'update_house' in segment %} active {% endif %}">
        <a class="nav-link" href="/house_list">
          <i class="material-icons">warehouse</i>
          <p>ハウス管理</p>
        </a>
      </li>
      </li>
      <li class="nav-item {% if '/farm_list' in request.path %} active {% endif %}">
        <a class="nav-link" href="/farm_list">
          <i class="material-icons">agriculture</i>
          <p>農場管理</p>
        </a>
      </li>
      
      {% endif %}
      {% if user_role_id == '0'%}
      <li
      class="nav-item {% if 'plant_settings' in segment or 'add_plant' in request.path　or 'update_plant' in request.path %} active {% endif %}">
      <a class="nav-link" href="/plant_setting">
        <i class="material-icons">compost</i>
        <p>作物設定</p>
      </a>
    </li>
    <li class="nav-item {% if 'RPI_settins' in request.path %} active {% endif %}">
      <a class="nav-link" href="/RPI_settings">
        <i class="material-icons">router</i>
        <p>RPI設定</p>
      </a>
    </li>
      {% endif %}
      {% if user_role_id == '0' %}
      <li
        class="nav-item {% if '/farmer_list' in request.path or  '/add_farmer' in request.path %} active {% endif %}">
        <a class="nav-link" href="/farmer_list">
          <i class="material-icons">manage_accounts</i>
          <p>農家</p>
        </a>
      </li>
      {% endif %}
      {% if user_role_id == '0' or user_role_id == '1' %}
      <li
        class="nav-item {% if '/user_list' in request.path or '/add_user' in request.path or '/update_user' in request.path %} active {% endif %}">
        <a class="nav-link" href="/user_list">
          <i class="material-icons"> admin_panel_settings</i>
          {% if user_role_id == '0' %}
          <p>管理者</p>
          {% else %}
          <p>ユーザー管理</p>
          {% endif %}
        </a>
      </li>
      {% endif %}
      <li class="nav-item">
        <a class="nav-link" href="{% url 'logout' %}">
          <i class="material-icons">logout</i>
          <p>ログアウト</p>
        </a>
      </li>

      {% else %} {% endif %}
    </ul>
  </div>
</div>