{% extends "layouts/base.html" %} {% block title %} change password {% endblock %}
<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
<style>
  img {
    width: 100px;
    height: 100px;
  }

  .card .card-header card-header-primary {
    width: 50px;
  }

  .title,
  .title a,
  .card-title,
  .card-title a,
  .info-title,
  .info-title a,
  .footer-brand,
  .footer-brand a,
  .footer-big h5,
  .footer-big h5 a,
  .footer-big h4,
  .footer-big h4 a,
  .media .media-heading,
  .media .media-heading a {
    color: #3C4858;
    padding-top: 20px;
    text-shadow: 0px 0px 9px violet;
    font-size: 24px;
  }

  .custom-checkmark::before {
    font-size: 10px;
    /* Adjust this value as needed */
  }
  #pSpan {
    max-width: 100px;
    word-break: break-all;
}
</style>
{% endblock stylesheets %} {% block content %}

<div class="row justify-content-center align-items-center">
  <div class="col-12">
    <div class="card" style="min-width: 364px;">
      <div class="card-body">
        <form id="changePasswordForm" role="form" method="post" action="">
          {% csrf_token %}
          <div class="card-avatar text-center">
              <img class="img rounded-circle" src="/static/assets/img/company_logo1.png" id="profile-image" />
              <br>
              <h4 class="card-title"><b>パスワード更新</b></h4>
          </div>
          <br>
          <div class="text-danger text-center w-100" id="commonError"></div>
          <br>
          <div class="row">
              <div class="col-md-12">
                  <div class="form-group">
                      <label class="bmd-label-floating">パスワード</label>
                      <input type="password" id="password" name="password" class="form-control">
                  </div>
                  <span class="text-danger" id="pSpan"></span>
              </div>
          </div>
          <br />
          <div class="row">
              <div class="col-md-12">
                  <div class="form-group">
                      <label class="bmd-label-floating">パスワード確認</label>
                      <input type="password" id="confirmPassword" name="confirm_password" class="form-control">
                  </div>
                  <span class="text-danger" id="cpSpan"></span>
              </div>
              <input type="hidden" id="user_id" name="user_id" value="{{context.user_id}}">
          </div>
          <br />
      
          <div class="row">
              <div class="col-12">
                  <button type="button" id="updatePasswordBtn" class="btn btn-primary pull-left w-100">
                    パスワード登録
                  </button>
              </div>
          </div>
      </form>
      </div>
    </div>
  </div>
</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
<script>
document.addEventListener('DOMContentLoaded', function () {
  const password = document.getElementById("password");
  const confirmPassword = document.getElementById("confirmPassword");
  const userId = document.getElementById("user_id").value;
  const changePasswordForm = document.getElementById("changePasswordForm");

  // Function to clear error messages
  function clearErrors() {
    document.getElementById('pSpan').innerText = '';
    document.getElementById('cpSpan').innerText = '';
    document.getElementById('commonError').innerText = '';
  }

  // Password validation criteria
  const passwordRegex = /^(?=.*[!@#$%^&*(),.?":{}|<>])(?=.*\d)(?=.*[A-Z]).{6,}$/;

  // Function to validate password
  function validatePassword() {
    clearErrors();

    if (password.value === '') {
      document.getElementById('pSpan').innerText = 'パスワードを入力してください。';
    } else if (!passwordRegex.test(password.value)) {
      document.getElementById('pSpan').innerText = 'パスワードは少なくとも1つの特殊文字、1つの数字、1つの大文字を含み、\n長さは6以上である必要があります。';
    }

    if (confirmPassword.value === '') {
      document.getElementById('cpSpan').innerText = '確認パスワードを入力してください。';
    } else if (password.value !== confirmPassword.value) {
      document.getElementById('commonError').innerText = 'パスワードとパスワード確認が一致しません。';
    }
  }

  // Event listener for password and confirmPassword input
  password.addEventListener('input', validatePassword);
  confirmPassword.addEventListener('input', validatePassword);

  // Event listener for updatePassword button click
  document.getElementById("updatePasswordBtn").addEventListener('click', function (event) {
    event.preventDefault(); // Prevent the default form submission

    validatePassword();

    // Check if there are no validation errors before submitting the form
    if (document.getElementById('pSpan').innerText === '' &&
        document.getElementById('cpSpan').innerText === '' &&
        document.getElementById('commonError').innerText === '') {
      changePasswordForm.submit();
    }
  });
});
</script>

{% endblock javascripts %}
