{% extends "layouts/base.html" %} {% block title %} Login {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
<style>
  img {
    width: 100px;
    height: 100px;
  }

  .card .card-header card-header-primary {
    width: 50px;

  }

  .title,
  .title a,
  .card-title,
  .card-title a,
  .info-title,
  .info-title a,
  .footer-brand,
  .footer-brand a,
  .footer-big h5,
  .footer-big h5 a,
  .footer-big h4,
  .footer-big h4 a,
  .media .media-heading,
  .media .media-heading a {
    color: #3C4858;
    padding-top: 20px;
    text-shadow: 0px 0px 9px violet;
    font-size: 24px;
  }

  .custom-checkmark::before {
    font-size: 10px;
    /* Adjust this value as needed */
  }
</style>
{% endblock stylesheets %} {% block content %}

<div class="row justify-content-center align-items-center">
  <div class="col-12">
    <div class="card" style="min-width: 364px;">
      {% comment %} <div class="card-avatar text-center">
        <div class="card-header card-header-primary">
          <h4 class="card-title">ログイン</h4>
        </div>
      </div> {% endcomment %}
      <div class="card-body">
       <form role="form" method="post" action="">
          {% comment %} Company Logo {% endcomment %}
          <div class="card-avatar text-center">
            <img class="img rounded-circle" src="/static/assets/img/company_logo1.png" id="profile-image" />
            <br>
            <h4 class="card-title"><b>ログイン</b></h4>
            <h6 class="card-category">
              {% if msg %}
              <span class="text-danger">{{ msg | safe }}</span>
              {% else %} アカウントにログインしてください。 {% endif %}
            </h6> 
          </div>

          {% comment %} User ID {% endcomment %}
          {% csrf_token %}
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label class="bmd-label-floating">⽣産者ID</label>
                {{ form.username }}
              </div>
            </div>
          </div>

          <br />
          {% comment %} Password {% endcomment %}
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label class="bmd-label-floating">メール</label>
                {{ form.email }}
              </div>
              {% if form.email.errors %}
              {% for error in form.email.errors %}
                <span class="text-danger">有効なメールアドレスを入力してください。</span>
              {% endfor %}
              {% endif %}
            </div>
          </div>
          <br />
          {% comment %} ID3 {% endcomment %}
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label class="bmd-label-floating">パスワード</label>
                {{ form.password }}
              </div>
            </div>
          </div>
          <br />
          {% comment %} Remember me {% endcomment %}
          <div class="row">
            <div class="col-12">
              <!-- Remember Me Checkbox -->
              <div class="form-check">
                <label class="form-check-label">
                  <input class="form-check-input" type="checkbox" name="remember" style="size:10px;"> ログイン状態を維持する
                  <span class="form-check-sign">
                    <span class="check custom-checkmark"></span>
                  </span>
                </label>
              </div>
            </div>
          </div>
          <br>
          {% comment %} submit button {% endcomment %}
          <div class="row">
            <div class="col-12">
              <button type="submit" class="btn btn-primary pull-left w-100">
                ログイン
              </button>
            </div>
            <div class="col-12 text-center mt-3">
              <a class="text-primary" data-toggle="modal" data-target="#ForgotModal">パスワードをお忘れですか?</a>

              <a href="/reset_password">
                <span class="material-icons">
                  lock_reset
                </span>
              </a>

            </div>

          </div>
          <!-- &nbsp; &nbsp; 
            <span class="pull-right">
              Don't have an account? <a href="{% url 'register' %}" class="text-primary">Create</a>
            </span> -->
        </form>
         <!--Forgot Modal -->
         <div class="modal fade" id="ForgotModal" tabindex="-1" aria-labelledby="ForgotModalLabel"
         aria-hidden="true">
         <div class="modal-dialog modal-dialog-centered">
           <div class="modal-content">
             <div class="modal-header">
               <h5 class="modal-title" id="ForgotModalLabel"> パスワードのリセット </h5>
               <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                 <span aria-hidden="true">&times;</span>
               </button>
             </div>
             <div class="modal-body">
               <div class="col-md-12">
                <div class="form-group">
                  <label class="bmd-label-floating">メール</label>
                  {{ form.email }}
                </div>
               </div>
             </div>
             <div class="modal-footer">
               <button type="button" class="btn btn-secondary" data-dismiss="modal">閉じる</button>
               <button type="button" class="btn btn-primary">送信</button>
             </div>
           </div>
         </div>
       </div>
      </div>
    </div>
  </div>
</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}