{% extends "layouts/base.html" %} {% block title %} Login {% endblock %}
<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
<style>
  img {
    width: 100px;
    height: 100px;
  }

  .card .card-header card-header-primary {
    width: 50px;

  }

  .title,
  .title a,
  .card-title,
  .card-title a,
  .info-title,
  .info-title a,
  .footer-brand,
  .footer-brand a,
  .footer-big h5,
  .footer-big h5 a,
  .footer-big h4,
  .footer-big h4 a,
  .media .media-heading,
  .media .media-heading a {
    color: #3C4858;
    padding-top: 20px;
    text-shadow: 0px 0px 9px violet;
    font-size: 24px;
  }

  .custom-checkmark::before {
    font-size: 10px;
    /* Adjust this value as needed */
  }
</style>
{% endblock stylesheets %} {% block content %}

<div class="row justify-content-center align-items-center">
  <div class="col-12">
    <div class="card" style="min-width: 364px;">
      {% comment %} <div class="card-avatar text-center">
        <div class="card-header card-header-primary">
          <h4 class="card-title">ログイン</h4>
        </div>
      </div> {% endcomment %}
      <div class="card-body">
        {% comment %} <h6 class="card-category">
          {% if msg %}
          <span class="text-danger">{{ msg | safe }}</span>
          {% else %} アカウントにログインしてください。 {% endif %}
        </h6> {% endcomment %}

        <br />

        <form role="form" method="post" action="">
          {% comment %} Company Logo {% endcomment %}
          <div class="card-avatar text-center">
            <img class="img rounded-circle" src="/static/assets/img/company_logo1.png" id="profile-image" />
            <br>
            <h4 class="card-title"><b>パスワード更新</b></h4>
          </div>
          <br>
          <br>

          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label class="bmd-label-floating">パスワード</label>
                <input type="text" name="password" class="form-control" value="">
              </div>
            </div>
          </div>
          <br />
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label class="bmd-label-floating">パスワード確認</label>
                <input type="text" name="confirm_password" class="form-control" value="">
              </div>
            </div>
          </div>
          <br />

          <div class="row">
            <div class="col-12">
              <button type="submit"  class="btn btn-primary pull-left w-100"　>
                更新
              </button>
            </div>
          </div>


      </div>

      </form>
    </div>
  </div>
</div>
</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}