{% extends "layouts/base.html" %}

{% block title %} ユーザ追加 {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
<style>
  .center-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

</style>
{% endblock stylesheets %}{% block content %}
<nav aria-label="breadcrumb" role="navigation">
  <ol class="breadcrumb">
    {% if user_role_id == '0' %}
    <li class="breadcrumb-item"><a href="/user_list">農家・管理者</a></li>
    {% else %}
    <li class="breadcrumb-item"><a href="/user_list">ユーザー管理</a></li>
    {% endif %}
    {% if show == 'true' %}
    <li class="breadcrumb-item" aria-current="page">編集</li>
    {% else %}
    <li class="breadcrumb-item active" aria-current="page">
      追加
    </li>
    {% endif %}

  </ol>
</nav>
<div class="card">
  <div class="card-body">
    {% if error_message %}
    <p id="successMessage" class="text-danger text-center">{{ error_message }}</p>
    {% endif %}
    <form action="" method="post" id="myForm" autocomplete="off">
      {% csrf_token %}
      <div class="row">
        <div class="col-md-6 my-4">
          <div class="form-group">
            <label for="userName" class="bmd-label-floating">⽒名<span class="text-danger">*</span></label>
            <input type="text" id="username" class="form-control" name="first_name" 
            {% if show == 'true' %}value="{{ user_obj.first_name }}" {% else %} value="{{ first_name }}" {% endif %} maxlength="30">
          </div>
          <span class="text-danger" id="userNameMsg"></span>
        </div>
        <div class="col-md-6 my-4">
          <div class="form-group">
            {% if show == 'true' %}
            <label for="email" class="bmd-label-floating">メール<span class="text-danger">*</span></label>
            <input type="text" class="form-control" name="email" value="{{ user_obj.email }}" disabled>

            {% else %}
            <label for="email" class="bmd-label-floating">メール<span class="text-danger">*</span></label>
            <input type="email" id="email" class="form-control" name="email" value="{{ email }}"
              maxlength="253">
            {% endif %}
          </div>
          <span id="emailMsg" class="text-danger"></span>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 my-3">
          <div class="form-group">
            <label for="権限" class="bmd-label-floating">権限<span class="text-danger">*</span></label>
            <select name="role_id" class="form-control" id="roleId">
              
              {% if user_role_id == '0' %}
              <option {% if role_id == '0' %} selected  {% endif %} value="0">BEAM TECH スーパー管理者</option>
              <option {% if role_id == '1' %} selected  {% endif %} value="1">農家</option>
              {% else %}
              <option value="2">ユーザー</option>
              {% endif %}
            </select>
          </div>
        </div>
        <div class="col-md-6 my-4 mt-5" id="addressId">
          <div class="form-group">
            <label for="address" class="bmd-label-floating">住所</label>
            <input type="text" id="address" class="form-control" name="address" 
            {% if show == 'true' %}value="{{ address }}" {% else %} value="{{ address }}" {% endif %} maxlength="150">
          </div>
          <span class="text-danger" id="addressMsg"></span>
        </div>
      </div>

      <div class="center-container">
        <a onclick='goBack()' href="#">
          <button type="button" class="btn btn-Secondary mr-3">戻る</button></a>
        {% if show == 'true' %}
        <button type="submit" id="postBtn" class="btn btn-success">変更</button>
        {% else %}
        <button type="submit" id="addBtn" class="btn btn-success">追加</button>
        {% endif %}
      </div>
    </form>
  </div>
</div>
{% endblock content %}
{% block javascripts %}
<script>
  var loading = '{{ loading }}'
  var address_block = '{{ address_block }}'
  console.log('address_block>>',address_block)
  document.getElementById('addressId').style.display = address_block
  setTimeout(function () {
    var successMessage = document.getElementById('successMessage');
    if (successMessage) {
      successMessage.style.transition = 'opacity 2s';
      successMessage.style.opacity = '0';
    }
  }, 5000);
  document.getElementById('roleId').addEventListener('input', function(){
    let roleId = this.value;
    if(roleId == '1' || roleId == '2'){
      document.getElementById('addressId').style.display = 'block'
    }
    console.log("roleId",roleId);
  })
  document.getElementById('username').addEventListener('input', function () {
    document.getElementById('userNameMsg').innerText = '';
  });
  document.getElementById('email').addEventListener('input', function () {
    document.getElementById('emailMsg').innerText = '';
  });
  document.getElementById('myForm').addEventListener('submit', function (event) {

    // Example validation:
    var userInput = document.getElementById('username').value;
    var emailInput = document.getElementById('email').value;

    // Clear previous error messages
    document.getElementById('userNameMsg').innerText = '';
    document.getElementById('emailMsg').innerText = '';
    const emailRegex = /^[^\s@]+@[^\s@]+\.[^\s@]+$/;

    if (userInput === '') {
      document.getElementById('userNameMsg').innerText = '氏名を入力してください。';
      event.preventDefault();
    }

    if (emailInput === '') {
      document.getElementById('emailMsg').innerText = 'メールを入力してください。';
      event.preventDefault();
    }
    else if (!emailRegex.test(emailInput)) {
      document.getElementById('emailMsg').innerText = '有効なメールアドレスを入力してください。';
      event.preventDefault();
    }
    else{
      console.log('loading>>>',loading)
      if (loading) {
        openSweetAlert();
      } else {
        closeSweetAlert();
      }
    }
  });

</script>
{% endblock javascripts %}