<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>光防除システム管理サイトログイン</title>
</head>

<body>
    <p>
        光防除システム管理サイトログイン<br>
        光防除システム管理サイトへようこそ！<br>
        下記の「パスワードの設定」をクリックして進んでください。
    </p>

    <p>
        <a href="{{ link }}" target="_blank">パスワードの設定</a>
    </p>

    <p>
        ★！現段階ではまた登録は完了しておりません！★<br>
        ※ご本人様確認のため、上記URLへ「24時間以内」にアクセスしアカウントの本登録を完了いただけますようお願いいたします。
    </p>

    <p>
        ID：{{ farm_id }}<br>
        メール：{{ email }}
    </p>

    <p>
        ご不明な点がございましたら、このメールへご返信いただくか、<br>
        info@beam~ までご連絡ください。
    </p>
</body>

</html>