{% extends "layouts/base.html" %} {% block title %} ハウスの追加 {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
<style>
    i {
        margin-right: 10px;
    }

    /*------------------------*/
    input:focus,
    button:focus,
    .form-control:focus {
        outline: none;
        box-shadow: none;
    }

    .inputLayout {
        position: relative;
        width: 2em;
        bottom: 13rem;
        right: 1rem;
    }

    .form-control:disabled,
    .form-control[readonly] {
        background-color: #fff;
    }

    /*----------step-wizard------------*/
    .d-flex {
        display: flex;
    }

    .justify-content-center {
        justify-content: center;
    }

    .align-items-center {
        align-items: center;
    }

    /*---------signup-step-------------*/
    .bg-color {
        background-color: #333;
    }

    .signup-step-container {
        padding: 50px 0px;
    }

    /* .wizard {
        width: 80vw;
    } */
    .wizard .nav-tabs {
        position: relative;
        margin-bottom: 0;
        border-bottom-color: transparent;
    }

    .wizard>div.wizard-inner {
        position: relative;
        margin-bottom: 50px;
        text-align: center;
    }

    .connecting-line {
        height: 2px;
        background: #e0e0e0;
        position: absolute;
        width: 62%;
        margin: 0 auto;
        left: 0;
        right: 0;
        top: 15px;
        z-index: 1;
    }

    .wizard .nav-tabs>li.active>a,
    .wizard .nav-tabs>li.active>a:hover,
    .wizard .nav-tabs>li.active>a:focus {
        color: #555555;
        cursor: default;
        border: 0;
        border-bottom-color: transparent;
    }

    span.round-tab {
        width: 30px;
        height: 30px;
        line-height: 30px;
        display: inline-block;
        border-radius: 50%;
        background: #fff;
        z-index: 2;
        position: absolute;
        left: -12px;
        text-align: center;
        font-size: 16px;
        color: #0e214b;
        font-weight: 500;
        border: 1px solid #ddd;
    }

    span.round-tab i {
        color: #555555;
    }

    .wizard li.active span.round-tab {
        background: #9c27b0;
        color: #fff;
        border-color: #9c27b0;
    }

    .wizard li.active span.round-tab i {
        color: #5bc0de;
    }

    .wizard .nav-tabs>li.active>a i {
        color: #9c27b0;
    }

    .wizard .nav-tabs>li {
        width: 25%;
    }

    .wizard li:after {
        content: " ";
        position: absolute;
        left: 46%;
        opacity: 0;
        margin: 0 auto;
        bottom: 0px;
        border: 5px solid transparent;
        border-bottom-color: red;
        transition: 0.1s ease-in-out;
    }

    .wizard .nav-tabs>li a {
        width: 30px;
        height: 30px;
        margin: 20px auto;
        border-radius: 100%;
        padding: 0;
        background-color: transparent;
        position: relative;
        top: 0;
    }

    .wizard .nav-tabs>li a i {
        position: absolute;
        top: -15px;
        font-style: normal;
        font-weight: 400;
        white-space: nowrap;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 12px;
        font-weight: 700;
        color: #000;
    }

    .wizard .nav-tabs>li a:hover {
        background: transparent;
    }

    .wizard .tab-pane {
        position: relative;
        padding-top: 20px;
    }

    .wizard h3 {
        margin-top: 0;
    }

    .prev-step,
    .next-step {
        font-size: 13px;
        padding: 8px 24px;
        border: none;
        border-radius: 4px;
        margin-top: 30px;
        cursor: pointer;
        background-color: #999999;
        color: white;
    }

    .next-step {
        background-color: #9c27b0;
        color: white;
        cursor: pointer;
    }

    .skip-btn {
        background-color: #cec12d;
    }

    .step-head {
        font-size: 20px;
        text-align: center;
        font-weight: 500;
        margin-bottom: 20px;
    }

    .term-check {
        font-size: 14px;
        font-weight: 400;
    }

    .custom-file {
        position: relative;
        display: inline-block;
        width: 100%;
        height: 40px;
        margin-bottom: 0;
    }

    .custom-file-input {
        position: relative;
        z-index: 2;
        width: 100%;
        height: 40px;
        margin: 0;
        opacity: 0;
    }

    .custom-file-label {
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1;
        height: 40px;
        padding: 0.375rem 0.75rem;
        font-weight: 400;
        line-height: 2;
        color: #495057;
        background-color: #fff;
        border: 1px solid #ced4da;
        border-radius: 0.25rem;
    }

    .custom-file-label::after {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        z-index: 3;
        display: block;
        height: 38px;
        padding: 0.375rem 0.75rem;
        line-height: 2;
        color: #495057;
        content: "Browse";
        background-color: #e9ecef;
        border-left: inherit;
        border-radius: 0 0.25rem 0.25rem 0;
    }

    .footer-link {
        margin-top: 30px;
    }

    .list-content {
        margin-bottom: 10px;
    }

    .list-content a {
        padding: 10px 15px;
        width: 100%;
        display: inline-block;
        background-color: #f5f5f5;
        position: relative;
        color: #565656;
        font-weight: 400;
        border-radius: 4px;
    }

    .list-content a[aria-expanded="true"] i {
        transform: rotate(180deg);
    }

    .list-content a i {
        text-align: right;
        position: absolute;
        top: 15px;
        right: 10px;
        transition: 0.5s;
    }

    .form-control[disabled],
    .form-control[readonly],
    fieldset[disabled] .form-control {
        background-color: #fdfdfd;
    }

    .list-box {
        padding: 10px;
    }

    .signup-logo-header .logo_area {
        width: 200px;
    }

    .signup-logo-header .nav>li {
        padding: 0;
    }

    .signup-logo-header .header-flex {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .list-inline li {
        display: inline-block;
    }

    .pull-right {
        float: right;
    }

    @media (max-width: 767px) {
        .sign-content h3 {
            font-size: 40px;
        }

        .wizard .nav-tabs>li a i {
            display: none;
        }
    }

    .vertical-line {
        border-left: 2px solid black;
        min-height: 250px;
        margin: 48px;
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }

    .verticalLineContainer {
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-wrap: wrap;
    }

    .verticalLineContainer input[type="text"] {
        padding: 10px;
        margin-top: 98px;
        margin-left: -50px;
        border: 1px solid #ddd;
        border-radius: 5px;
        font-size: 16px;
        width: 45px;
        position: absolute;
        bottom: -52px;
        text-align: center;
    }

    .generated-div {
        margin: 0px;
    }

    .generated-div input {
        padding: 10px;
        margin-left: -20px;
        border: 1px solid #ddd;
        border-radius: 5px;
        font-size: 16px;
        width: 45px;
        position: relative;
        left: -70px;
        margin: 4px;
        text-align: center;
    }

    .form-group select {
        appearance: none;
        -webkit-appearance: none;
        width: 100%;
        padding: 10px;
        font-size: 16px;
        background-color: #fff;
        position: relative;
        z-index: 1;
    }

    .form-group.active label {
        top: 8px;
        font-size: 12px;
        color: #555;
    }

    .form-group.active::before {
        border-top: 0;
        border-bottom: 8px solid #555;
    }

    .form-group.select-open select {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }

    .form-group.select-open::before {
        border-top: 0;
        border-bottom: 8px solid transparent;
    }
    .dropdown {
        position: relative;
        display: inline-block;
    }

    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f5f5f5;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        padding: 12px;
        z-index: 1;
    }

    .dropdown-content label {
        display: block;
        margin-bottom: 8px;
        color: #000;
    }

    .dropdown-content input {
        margin-right: 8px;
    }

    .dropdown:hover .dropdown-content {
        display: block;
    }
</style>
{% endblock stylesheets %} {% block content %}

<nav aria-label="breadcrumb" role="navigation">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/house_list">ハウス</a></li>
        {% if show == 'true' %}
        <li class="breadcrumb-item" aria-current="page">編集</li>
        {% else %}
        <li class="breadcrumb-item active" aria-current="page">追加</li>
        {% endif %}
    </ol>
</nav>
<div class="card card-profile">
    <section class="signup-step-container">
        <div class="container">
            <div class="row d-flex justify-content-center">
                <div class="col-12">
                    <div class="wizard mb-5">
                        <div class="connecting-line"></div>
                        <ul class="nav nav-tabs align-items-center justify-content-around" role="tablist">
                            <li role="presentation" class="active">
                                <a href="#step1" data-toggle="tab" aria-controls="step1" role="tab"
                                    aria-expanded="true"><span class="round-tab">1 </span> <i>ハウス名登録 </i></a>
                            </li>
                            <li role="presentation" class="disabled">
                                <a href="#step2" data-toggle="tab" aria-controls="step2" role="tab"
                                    aria-expanded="false"><span class="round-tab">2</span> <i>レーン・ポール・LED追加</i></a>
                            </li>
                            <li role="presentation" class="disabled">
                                <a href="#step3" data-toggle="tab" aria-controls="step3" role="tab"><span
                                        class="round-tab">3</span> <i>確認</i></a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-12">

                        
                        <div class="tab-content" id="main_form">
                            <!-- ハウス名登録 -->
                            <div class="tab-pane active" role="tabpanel" id="step1">
                                <h4 class="text-center mt-3">{% if selected_user_name %}{{ selected_user_name }}　-　{% endif %}ハウス名登録</h4>
                                <div class="row text-left">
                                    <div class="col-md-3"></div>
                                    <div class="col-md-6 mt-4">
                                        <div class="form-group">
                                            <label>担当者名</label>
                                            <input class="form-control" type="text" name="userName" id="user_name" disabled>
                                            <div class="dropdown">
                                                <button class="btn btn-primary">農家フィルター</button>
                                                <div class="dropdown-content">
                                                    <label>
                                                        <input type="checkbox" id="noOneCheckbox" value="">誰も割り当てない
                                                    </label>
                                                    {% for user in choice_user %}
                                                        <label>
                                                            <input type="checkbox" id="userCheckbox_{{ user.id }}" value="{{ user.id }}" data-username="{{ user.first_name }}">{{ user.first_name }}
                                                        </label>
                                                    {% endfor %}
                                                </div>
                                            </div>
                                        </div>
                                </div>
                                <div class="col-md-3"></div>
                                <div class="col-md-3"></div>
                                <div class="col-md-6 mt-4">
                                    <div class="form-group">
                                        <label id="sample" class=" bmd-label-floating">ハウス名 <span
                                                class="text-danger">*</span></label>
                                        <input class="form-control" id="houseName" type="text" name="houseName"
                                            placeholder="" maxlength="30" />
                                        <span class="text-danger" id="housenameMsg"></span>
                                    </div>
                                </div>

                                <div class="col-md-3"></div>
                                <div class="col-md-3"></div>

                                <div class="col-md-3 mt-4">
                                    <div class="form-group">
                                        <label class=" bmd-label-floating">作物名 <span
                                                class="text-danger">*</span></label>
                                        <select name="plantName" class="form-control" id="plantName">
                                            <option value="" selected="selected" disabled>
                                                選択してください
                                            </option>
                                            {% for plant in choice_plant %}
                                            <option value="{{ plant.plant_id }}"
                                                data-plantname="{{ plant.plant_name }}">{{ plant.plant_name }}</option>

                                            {% endfor %}

                                        </select>
                                        <span class="text-danger" id="plantnameMsg"></span>
                                    </div>

                                </div>
                                <div class="col-md-3 mt-4">
                                    <div class="form-group">
                                        <label class=" bmd-label-floating">農場名 <span
                                                class="text-danger">*</span></label>
                                        <select name="farmName" class="form-control" id="farmName">
                                            <option value="" selected="selected" disabled>
                                                選択してください
                                            </option>
                                            {% for farm in choice_farm %}
                                            <option value="{{ farm.farm_id }}" data-farmname="{{ farm.farm_name }}">{{ farm.farm_name }}</option>

                                            {% endfor %}

                                        </select>
                                        <span class="text-danger" id="farmnameMsg"></span>
                                    </div>
                                </div>

                                <div class="col-md-3"></div>
                                <div class="col-md-3"></div>
                                <div class="col-md-6 mt-4">
                                    <div class="form-group text-gray">
                                        <label class=" bmd-label-floating" for="memo">メモ</label>
                                        <textarea name="memo" class="form-control" id="memo" rows="3"
                                            maxlength="150"></textarea>
                                        <span id="memoCount">0</span>/<span>150</span>
                                    </div>
                                </div>
                                <div class="col-md-3"></div>
                                
                            </div>
                            <ul class="list-inline pull-right">
                                <li>
                                    <button type="button" class="default-btn next-step" id="firststep">
                                        次
                                    </button>
                                </li>
                            </ul>
                        </div>
                            <!-- レーン・ポール・LED追加 -->
                            <div class="tab-pane" role="tabpanel" id="step2">
                                <h4 class="text-center mt-3">{% if selected_user_name %}{{ selected_user_name }}　-　{% endif %}レーン・ポール・LED追加</h4>
                                <div class="row text-left" id="lineAddViewHide">
                                    <div class="col-md-3"></div>
                                        <div class="col-md-6 mt-4">
                                                <div class="form-group">
                                                    <label class=" bmd-label-floating">レーンの数 <span class="text-danger">*</span></label>
                                                    <input class="form-control" id="N-leanCount" type="number" name="leanCount"
                                                        placeholder="" />
                                                        <span class="text-danger" id="nleanMsg"></span>
                                                </div>
                                        
                                    </div>
                                <div class="col-md-3"></div>
                                <div class="col-md-3"></div>
                                <div class="col-md-6 mt-4">
                                    <div class="form-group">
                                        <label class=" bmd-label-floating">１レーンのポールの数 <span
                                                class="text-danger">*</span></label>
                                        <input class="form-control" id="N-poleCount" type="number"
                                            name="laneCountPerPole" placeholder="" />
                                        <span class="text-danger" id="npoleMsg"></span>
                                    </div>
                                </div>
                                <div class="col-md-3"></div>
                                <div class="col-md-3"></div>
                                <div class="col-md-6 mt-4">
                                    <div class="form-group">
                                        <label class=" bmd-label-floating">1ポールのLEDの数 <span
                                                class="text-danger">*</span></label>
                                        <input class="form-control" type="number" id="N-LEDCount" name="LEDcount"
                                            placeholder="" />
                                        <span class="text-danger" id="nledMsg"></span>
                                    </div>
                                </div>
                                <div class="col-md-3 d-flex align-items-end">
                                    <button id="lineAddViewBtn" type="button" class="btn btn-outline-success">
                                        <span class="material-icons">add_circle</span>&nbsp;&nbsp;不規則の場合
                                    </button>
                                </div>
                            </div>

                            <div class="row justify-content-center align-items-center" id="lineAddViewShow">
                                <div class="col-md-3"></div>
                                <div class="col-md-6 mt-4">
                                    <div class="form-group text-left">
                                        <label class=" bmd-label-floating">レーンの数</label>
                                        <input class="form-control" type="number" id="verticalCount" placeholder="" />
                                        <span class="text-danger" id="customleanMsg"></span>

                                    </div>
                                    <span class="text-danger" id="poleMsg"></span>
                                </div>
                                <div class="col-md-3"></div>
                                <div class="col-1.5"></div>
                                <div class="col-9 mt-4">
                                    <div id="customVerticalLineContainer" class="verticalLineContainer">

                                    </div>
                                    <div id="customInputs" class="inputLayout"></div>

                                </div>
                                <div class="col-1.5"></div>
                            </div>

                            <ul class="list-inline pull-right">
                                <li>
                                    <button type="button" id="lineBackBtn-1" class="default-btn prev-step">
                                        戻る
                                    </button>
                                </li>
                                <li>
                                    <button type="button" id="lineBackBtn-2" class="btn btn-warning">
                                        戻る
                                    </button>
                                </li>
                                <li>
                                    <a href="#" data-toggle="modal" data-target="#previewModal">
                                        <button id="previewBtn" class="btn btn-success">プレビュー</button>
                                    </a>
                                </li>
                                <li>
                                    <button type="button" class="default-btn next-step" id="LEDCountGen">
                                        次
                                    </button>
                                </li>
                            </ul>
                        </div>
                    
                        <!--preview Modal -->
                        <div class="modal fade" id="previewModal" tabindex="-1" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title">プレビュー</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <div class="row justify-content-center align-items-center" id="lineAddViewShow">
                                            <div class="col my-4 ml-4">
                                                <div id="staticVerticalLineContainer" class="verticalLineContainer">

                                                </div>
                                                <div id="customInputs" class="inputLayout"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- 確認 -->

                        <div class="tab-pane" role="tabpanel" id="step3">

                                <h4 class="text-center mt-3">{% if selected_user_name %}{{ selected_user_name }}　-　{% endif %} 確認 </h4>
                                <span class="text-danger" id="regMsg"></span>
                                <form action="" method="post" id="" role="form" autocomplete="off">
                                    {% csrf_token %}
                                <div class="row text-left">
                                    <div class="col-md-3"></div>
                                    <div class="col-md-3 mt-4">
                                        <div class="form-group bmd-form-group is-focused">
                                            <label class=" bmd-label-floating">ユーザー名</label>
                                            <input class="form-control" id="userNameReg" type="text" name="userNameReg"
                                                placeholder="" value="" />
                                            <input type="hidden" id="farmerId" name="farmerId">
                                        </div>
                                    </div>
                                    <div class="col-md-3 mt-4">
                                        <div class="form-group bmd-form-group is-focused">
                                            <label class=" bmd-label-floating">農場名</label>
                                            <input class="form-control" type="text" id="farmNameReg" name="farmNameReg"
                                                placeholder="" />
                                            <input type="hidden" id="farmIdReg" name="farmIdReg">
                                        </div>
                                    </div>
                                    <div class="col-md-3"></div>
                                    <div class="col-md-3"></div>
                                    <div class="col-md-3 mt-4">
                                        <div class="form-group bmd-form-group is-focused">
                                            <label class=" bmd-label-floating">ハウス名</label>
                                            <input class="form-control" type="text" id="houseNameReg"
                                                name="houseNameReg" placeholder="" />


                                        </div>
                                    </div>
                                    <div class="col-md-3 mt-4">
                                        <div class="form-group bmd-form-group is-focused">
                                            <label class=" bmd-label-floating">作物名</label>
                                            <input class="form-control" type="text" id="plantNameReg"
                                                name="plantNameReg" placeholder="" />
                                            <input type="hidden" id="plantIdReg" name="plantIdReg">
                                        </div>
                                    </div>
                                    <div class="col-md-3"></div>
                                    <div class="col-md-3"></div>
                                    <div class="col-md-6 mt-4">
                                        <div class="form-group bmd-form-group is-focused">
                                            <label class=" bmd-label-floating">レーンの数</label>
                                            <input class="form-control" type="text" id="laneCountReg" name="laneCount"
                                                placeholder="" />
                                        </div>
                                    </div>
                                    <div class="col-md-3"></div>
                                    <div class="col-md-3"></div>
                                    <div class="col-md-6 mt-4">
                                        <div class="form-group bmd-form-group is-focused">
                                            <label class=" bmd-label-floating">ポールの数</label>
                                            <input class="form-control" type="text" name="laneCountPerPole" id="polePLC"
                                                placeholder="" />
                                            <input type="hidden" id="arrayPolePLC" name="arrayPolePLC">
                                        </div>
                                    </div>
                                    <div class="col-md-3"></div>
                                    <div class="col-md-3"></div>
                                    <div class="col-md-6 mt-4">
                                        <div class="form-group bmd-form-group is-focused">
                                            <label class=" bmd-label-floating">LEDの数</label>
                                            <input class="form-control" type="text" name="ledCountPerpole" id="ledPPC"
                                                placeholder="" />
                                            <input type="hidden" id="arrayLED" name="arrayLED">
                                        </div>
                                    </div>
                                    <div class="col-md-3"></div>

                                    <div class="col-md-3"></div>
                                    <div class="col-md-6 mt-4">
                                        <div class="form-group bmd-form-group is-focused">
                                            <label class=" bmd-label-floating" for="memoReg">メモ</label>
                                            <textarea name="memoReg" class="form-control" id="memoReg"
                                                rows="3"></textarea>
                                        </div>
                                    </div>
                                    <div class="col-md-3"></div>
                                </div>
                                <ul class="list-inline pull-right">
                                    <li>
                                        <button type="button" class="default-btn prev-step">
                                            戻る
                                        </button>
                                    </li>
                                    <li>
                                        <button type="submit" id="registerBtn" class="btn btn-success">
                                            登録
                                        </button>
                                    </li>
                                </ul>
                        </div>
                        </form>
                        <div class="clearfix"></div>
                </div>
                </div>
            </div>
        </div>
    </section>
</div>
{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
<!-- Add this script to your HTML file -->
<script>
    document.addEventListener("DOMContentLoaded", function () {
        var noOneCheckbox = document.getElementById("noOneCheckbox");
        var otherCheckboxes = document.querySelectorAll(".dropdown-content input[id^='userCheckbox_']");
        var userNameInput = document.getElementById("user_name");

        function updateUserNameInput() {
    var checkedUsers = Array.from(otherCheckboxes)
        .filter(function (checkbox) {
            return checkbox.checked;
        })
        .map(function (checkbox) {
            return {
                username: checkbox.getAttribute("data-username"),
                value: checkbox.value
            };
        });

    var checkedUserNames = checkedUsers.map(function (user) {
        return user.username;
    });
    var checkedValues = checkedUsers.map(function (user) {
        return user.value;
    });

    userNameInput.value = checkedUserNames.join(",");
    var farmerId = checkedValues.join(",");
    var userNameReg = checkedUserNames.join(", ");

    $('#farmerId').val(farmerId);
    $('#userNameReg').val(userNameReg);
}


        noOneCheckbox.addEventListener("change", function () {
            otherCheckboxes.forEach(function (checkbox) {
                checkbox.disabled = noOneCheckbox.checked;
            });

            updateUserNameInput();
        });

        otherCheckboxes = Array.from(otherCheckboxes); // Convert NodeList to Array

        otherCheckboxes.forEach(function (checkbox) {
            checkbox.addEventListener("change", function () {
                noOneCheckbox.disabled = otherCheckboxes.some(function (checkbox) {
                    return checkbox.checked;
                });

                updateUserNameInput();
            });
        });

    });

    let memoInput = document.getElementById('memo');
    let remarkCountSpan = document.getElementById('memoCount');

    memoInput.addEventListener("input", function (event) {
        let charCount = memoInput.value.length;
        remarkCountSpan.textContent = charCount;
        if (charCount > 80) {
            remarkCountSpan.style.color = 'orange'
        }
        if (charCount > 120) {
            remarkCountSpan.style.color = 'red'
        }
    });
    var poleInputValues = [];
    $(document).ready(function () {
        // Check if there is a last active tab stored
        var lastActiveTab = localStorage.getItem("lastActiveTab");
        if (lastActiveTab) {
            $(".nav-tabs li").removeClass("active");
            $('.nav-tabs a[href="' + lastActiveTab + '"]')
                .parent()
                .addClass("active");
            $(".tab-pane").removeClass("active");
            $(lastActiveTab).addClass("active");
        }

        // Event handler for tab changes
        $('a[data-toggle="tab"]').on("shown.bs.tab", function (e) {
            var target = $(e.target).attr("href");
            localStorage.setItem("lastActiveTab", target);
        });

        $(".prev-step").click(function (e) {
            var active = $(".wizard .nav-tabs li.active");
            prevTab(active);
        });
    });
    function nextTab(elem) {
        $(elem).next().find('a[data-toggle="tab"]').click();
    }

    function prevTab(elem) {
        $(elem).prev().find('a[data-toggle="tab"]').click();
    }

    $(".nav-tabs").on("click", "li", function () {
        $(".nav-tabs li.active").removeClass("active");
        $(this).addClass("active");
    });
    // lineAddView div hide/show
    $('#lineAddViewShow').hide();
    $('#lineBackBtn-2').hide();
    $("#lineAddViewBtn").on("click", function (e) {
        $("#lineAddViewHide").hide();
        $("#lineAddViewShow").show();
        $('#lineBackBtn-1').hide();
        $('#previewBtn').hide();
        $('#lineBackBtn-2').show();
    });
    $("#lineBackBtn-2").on("click", function (e) {
        $("#lineAddViewHide").show();
        $("#lineAddViewShow").hide();
        $('#lineBackBtn-1').show();
        $('#previewBtn').show();
        $('#lineBackBtn-2').hide();
        buttonClicked = false;
    });
    $(document).ready(function () {
        // Load the value of #verticalCount from localStorage
        var storedCount = localStorage.getItem('leanCount');
        if (storedCount) {
            $('#verticalCount').val(storedCount);
            var lines = "";
            for (var i = 0; i < storedCount; i++) {
                lines += "<div class='vertical-line'><input value='' type='text' class='dynamic-input' placeholder='数'/></div>";
            }
            $("#customVerticalLineContainer").html(lines);
            var savedValues = JSON.parse(localStorage.getItem("poleCountPerLine")) || [];
            for (var i = 0; i < savedValues.length; i++) {
                $(".dynamic-input").eq(i).val(savedValues[i]);
            }
            $(".vertical-line").each(function (index, element) {
                var count = savedValues[index];
                var childNode = $(element);
                childNode.children('.generated-div').remove(); // Remove previously generated divs
                if (count !== "") {
                    for (var j = 0; j < parseInt(count); j++) {
                        var newNode = $("<div class='generated-div'><input value='' type='number' placeholder='数'/></div>").css("background-color", 'white');
                        childNode.append(newNode);
                    }
                }
            });
        }

        //  initial stage of element
        $("#verticalCount").keyup(function () {
            var count = $(this).val();
            localStorage.setItem('leanCount', count);
            var lines = "";
            for (var i = 0; i < count; i++) {
                lines += "<div class='vertical-line'><input value='' type='text' class='dynamic-input' placeholder='数'/></div>";
            }
            $("#customVerticalLineContainer").html(lines);
        });

        $(document).on("input", ".dynamic-input", function () {
            var contentDivs = document.querySelectorAll('.vertical-line');
            contentDivs.forEach((node) => {
                node.removeAttribute('style')
            });
            var inputValues = [];
            $(".dynamic-input").each(function (index, element) {
                inputValues.push($(element).val());
            });
            $(".vertical-line").each(function (index, element) {
                var count = inputValues[index];
                var childNode = $(element);
                childNode.children('.generated-div').remove(); // Remove previously generated divs
                if (count !== "") {
                    for (var j = 0; j < parseInt(count); j++) {
                        var newNode = $("<div class='generated-div'></div>").css("background-color", 'white');
                        var inputNode = $("<input value='' class='poleInput' placeholder='数'/>");
                        newNode.append(inputNode);
                        childNode.append(newNode);
                    }
                    var poleInputElement = $('.poleInput');
                    var inputValuesArray = [];

                    poleInputElement.on('keyup', function () {


                        poleInputElement.each(function (index, element) {
                            var value = $(element).val();
                            inputValuesArray[index] = value;
                        });

                        // Log the array with all values
                        localStorage.setItem('LEDCount', JSON.stringify(inputValuesArray))
                    });

                }
            });

            localStorage.setItem("poleCountPerLine", JSON.stringify(inputValues));
            var contentDivs = document.querySelectorAll('.vertical-line');
            var _maxContentHeight = 250;

            function setMaxContentHeight(newValue) {
                if (newValue !== _maxContentHeight) {
                    _maxContentHeight = newValue;
                    onMaxContentHeightChange();
                }
            }

            function onMaxContentHeightChange() {
                contentDivs.forEach((node) => {
                    node.style.height = _maxContentHeight + 'px';
                });
            }

            var maxHeight = 0;

            // Loop through content divs and find the maximum height
            contentDivs.forEach(function (contentDiv) {
                var height = contentDiv.clientHeight;

                if (height > maxHeight) {
                    maxHeight = height;
                }
            });
            setMaxContentHeight(maxHeight);
        });


        var polePerLine = JSON.parse(localStorage.getItem("poleCountPerLine")) || [];

        // Load input values from localStorage
        var savedValues = JSON.parse(localStorage.getItem("poleCountPerLine")) || [];
        for (var i = 0; i < savedValues.length; i++) {
            $(".dynamic-input").eq(i).val(savedValues[i]);
            var count = savedValues[i];
            var childNode = $(".vertical-line").eq(i);
            childNode.children('.generated-div').remove(); // Remove previously generated divs
            if (count !== "") {
                for (var j = 0; j < parseInt(count); j++) {
                    var newNode = $("<div class='generated-div'></div>").css("background-color", 'white');
                    var inputNode = $("<input value='' class='poleInput' placeholder='数'/>");
                    newNode.append(inputNode);
                    childNode.append(newNode);
                }
            }
        }
        // registeration btn actions 
        $('#registerBtn').click(function (e) {
            if (laneCountDisplay.value == '' || poleCountDisplay.value == '' || ledCountDisplay.value == '' || arrayPolePLC == '' || arrayLED == '' || document.getElementById('houseNameReg').value == '' || document.getElementById('plantIdReg').value == '' || document.getElementById('farmNameReg').value == '') {
                e.preventDefault();
                document.getElementById('regMsg').innerText = '一部の項目が空欄です';
                setTimeout(function () {
                    document.getElementById('regMsg').innerText = '';
                }, 3000);

            } else {
                document.getElementById('regMsg').innerText = '';
                localStorage.removeItem('lastActiveTab')
                localStorage.removeItem('leanCount')
                localStorage.removeItem('poleCountPerLine')
                localStorage.removeItem('LEDSampleArray')
                window.location.pathname = '/house_list'
            }
        })

        // houseName value 
        $('#houseName').on('input', function (e) {
            let houseName = e.target.value
            $('#houseNameReg').val(e.target.value);
        })
        // plantName value 
        $('#plantName').change(function (e) {
            let plantId = e.target.value
            let plant_name = $(e.target).find('option:selected').data('plantname');
            $('#plantNameReg').val(plant_name);
            $('#plantIdReg').val(plantId);
        })
        //memo
        $('#memo').change(function (e) {
            let memo = e.target.value
            $('#memoReg').val(e.target.value);
        })
   
        //farmName
        $('#farmName').change(function (e) {
            let farmId = e.target.value
            let farm_name = $(e.target).find('option:selected').data('farmname');
            $('#farmIdReg').val(farmId);
            $('#farmNameReg').val(farm_name);
        })


    });

    var buttonClicked = false;
    var laneCountDisplay = document.getElementById('laneCountReg');
    var poleCountDisplay = document.getElementById('polePLC');
    var ledCountDisplay = document.getElementById('ledPPC');
    var arrayPolePLC = document.getElementById('arrayPolePLC');
    var arrayLED = document.getElementById('arrayLED');

    lineAddViewBtn.addEventListener('click', function () {
        buttonClicked = true;
    });
    // <######################### preview static lean layout #########################> 
    $('#previewBtn').hide();
    var nlean = document.getElementById("N-leanCount");
    var npole = document.getElementById("N-poleCount");
    var nled = document.getElementById("N-LEDCount");

    // static vertical line and lean input  creation 
    nlean.addEventListener('input', function () {
        npole.value=''
        nled.value=''
        var count = document.getElementById("N-leanCount").value;
        var lines = "";
        for (var i = 0; i < count; i++) {
            lines += `<div class='vertical-line'><input value='' disabled type='text' class='dynamic-input' placeholder='数'/></div>`;
        }
        $("#staticVerticalLineContainer").html(lines);
    })
    // lean input value assign and pole input creation 
    npole.addEventListener('input', function () {
        var contentDivs = document.querySelectorAll('.vertical-line');
        contentDivs.forEach((node) => {
            node.removeAttribute('style')
        });
        var inputValues = [];
        $(".dynamic-input").each(function (index, element) {
            $(element).val(npole.value)
            inputValues.push($(element).val());
        });
        $(".vertical-line").each(function (index, element) {
            var count = inputValues[index];
            var childNode = $(element);
            childNode.children('.generated-div').remove(); // Remove previously generated divs
            if (count !== "") {
                for (var j = 0; j < parseInt(count); j++) {
                    var newNode = $("<div class='generated-div'></div>").css("background-color", 'white');
                    var inputNode = $(`<input value='' disabled class='poleInput' placeholder='数'/>`);
                    newNode.append(inputNode);
                    childNode.append(newNode);
                }
            }
        });
    })
    // LED value assignment 
    nled.addEventListener('input', function () {
        $('#previewBtn').show();
        var poleInputElement = $('.poleInput');
        poleInputElement.each(function (index, element) {
            $(element).val(nled.value)
        });
    })
    // <######################### preview static lean layout #########################> 
    document.getElementById('LEDCountGen').addEventListener('click', function () {

        var nlean = document.getElementById("N-leanCount").value;
        var npole = document.getElementById("N-poleCount").value;
        var nled = document.getElementById("N-LEDCount").value;
        var customlean = document.getElementById("verticalCount").value;
        var dynamicInputs = document.querySelectorAll('.dynamic-input');
        var poleInputs = document.querySelectorAll('.poleInput');


        $(document).on("input", ".dynamic-input", function () {
            var contentDivs = document.querySelectorAll('.vertical-line');
            contentDivs.forEach((node) => {
                node.removeAttribute('style')
            });
            var inputValues = [];
            $(".dynamic-input").each(function (index, element) {
                inputValues.push($(element).val());
            });
            $(".vertical-line").each(function (index, element) {
                var count = inputValues[index];
                var childNode = $(element);
                childNode.children('.generated-div').remove(); // Remove previously generated divs
                if (count !== "") {
                    for (var j = 0; j < parseInt(count); j++) {
                        var newNode = $("<div class='generated-div'></div>").css("background-color", 'white');
                        var inputNode = $("<input value='' class='poleInput' placeholder='数'/>");
                        newNode.append(inputNode);
                        childNode.append(newNode);
                    }
                    var poleInputElement = $('.poleInput');
                    var inputValuesArray = [];

                    poleInputElement.on('keyup', function () {


                        poleInputElement.each(function (index, element) {
                            var value = $(element).val();
                            inputValuesArray[index] = value;
                        });

                        // Log the array with all values
                        localStorage.setItem('LEDCount', JSON.stringify(inputValuesArray))
                    });

                }
            });

            localStorage.setItem("poleCountPerLine", JSON.stringify(inputValues));
            var contentDivs = document.querySelectorAll('.vertical-line');
            var _maxContentHeight = 250;

            function setMaxContentHeight(newValue) {
                if (newValue !== _maxContentHeight) {
                    _maxContentHeight = newValue;
                    onMaxContentHeightChange();
                }
            }

            function onMaxContentHeightChange() {
                contentDivs.forEach((node) => {
                    node.style.height = _maxContentHeight + 'px';
                });
            }

            var maxHeight = 0;

            // Loop through content divs and find the maximum height
            contentDivs.forEach(function (contentDiv) {
                var height = contentDiv.clientHeight;

                if (height > maxHeight) {
                    maxHeight = height;
                }
            });
            setMaxContentHeight(maxHeight);
        });


        if (!buttonClicked) {
            laneCountDisplay.value = null
            poleCountDisplay.value = null
            ledCountDisplay.value = null
            arrayPolePLC.value = null
            arrayLED.value = null

            if (nlean < 0 || isNaN(nlean) || nlean == '') {
                document.getElementById('nleanMsg').innerText = '有効な数値を入力してください。';
            }
            else if (npole < 0 || isNaN(npole) || npole == '') {
                document.getElementById('npoleMsg').innerText = '有効な数値を入力してください。';
            }
            else if (nled < 0 || isNaN(nled) || nled == '') {
                document.getElementById('nledMsg').innerText = '有効な数値を入力してください。';
            } else {
                var active = $(".wizard .nav-tabs li.active");
                active.next().removeClass("disabled");
                nextTab(active);
                // lineCount, poleCount, LEDCount value binding to 3rd step
                var leanCount
                var poleCount
                var LEDCount
                leanCount = $("#N-leanCount").val()
                poleCount = $("#N-poleCount").val()
                LEDCount = $("#N-LEDCount").val()
                if (leanCount && poleCount && LEDCount) {
                    let poleCountArray = []
                    let LEDCountArray = []
                    for (i = 1; i <= leanCount; i++) {
                        poleCountArray.push(poleCount)
                    }
                    for (let j = 0; j < poleCountArray.length; j++) {
                        let subArray = Array.from({ length: parseInt(poleCountArray[j], 10) }, () => LEDCount);
                        LEDCountArray.push(subArray);
                    }

                    let sumPoleCount = poleCountArray.reduce((acc, value) => acc + parseInt(value, 10), 0);
                    let sumLEDCount = LEDCountArray.reduce((acc, subArray) => acc + subArray.reduce((subAcc, value) => subAcc + parseInt(value, 10), 0), 0);

                    laneCountDisplay.value = leanCount
                    poleCountDisplay.value = sumPoleCount
                    arrayPolePLC.value = poleCountArray
                    ledCountDisplay.value = sumLEDCount
                    arrayLED.value = LEDCountArray
                }

            }
        }

        else if (buttonClicked) {

            laneCountDisplay.value = null
            poleCountDisplay.value = null
            ledCountDisplay.value = null
            arrayPolePLC.value = null
            arrayLED.value = null

            if (customlean < 0 || isNaN(customlean) || customlean == '') {
                document.getElementById('customleanMsg').innerText = '有効なライン数を入力してください。';
            }

            else if (customlean > 0) {

                var invalidPoleInputFound = false;
                dynamicInputs.forEach(function (input) {
                    input.addEventListener('input', function () {
                        resetMessages();
                    });
                    var inputValue = input.value;
                    if (inputValue === '' || isNaN(inputValue)) {
                        invalidPoleInputFound = true;
                    }
                });
                if (invalidPoleInputFound) {
                    document.getElementById('poleMsg').innerText = '有効なポール本数を入力してください。';
                }
                else {
                    document.getElementById('poleMsg').innerText = '';
                    var invalidLedInputFound = false;
                    poleInputs.forEach(function (poleInput) {
                        poleInput.addEventListener('input', function () {
                            resetMessages();
                        });
                        var poleValue = poleInput.value;
                        if (poleValue === '' || isNaN(poleValue)) {
                            invalidLedInputFound = true;
                        }
                    });
                    if (invalidLedInputFound) {
                        document.getElementById('poleMsg').innerText = '有効なLED数を入力してください。';
                    }

                    else {
                        var active = $(".wizard .nav-tabs li.active");
                        active.next().removeClass("disabled");
                        nextTab(active);
                        buttonClicked = false;
                        storedLaneCount = localStorage.getItem('leanCount')
                        storedPoleCount = localStorage.getItem('poleCountPerLine')
                        storedLEDCount = localStorage.getItem('LEDCount')
                        if (storedLaneCount && storedPoleCount && storedLEDCount) {


                            let poleCountArray = JSON.parse(storedPoleCount);
                            let ledCountArray = JSON.parse(storedLEDCount);

                            let sumPoleCount = poleCountArray.reduce((acc, value) => acc + parseInt(value, 10), 0);
                            let sumLEDCount = ledCountArray.reduce((acc, value) => acc + parseInt(value, 10), 0);

                            laneCountDisplay.value = storedLaneCount
                            poleCountDisplay.value = sumPoleCount
                            arrayPolePLC.value = poleCountArray
                            ledCountDisplay.value = sumLEDCount
                            arrayLED.value = ledCountArray

                        }

                    }
                }
            }
        }
    });
    function resetMessages() {
        document.getElementById('poleMsg').innerText = '';
    }
    document.getElementById('houseName').addEventListener('input', function () {
        document.getElementById('housenameMsg').innerText = '';
    });
    document.getElementById('plantName').addEventListener('input', function () {
        document.getElementById('plantnameMsg').innerText = '';
    });
    document.getElementById('farmName').addEventListener('input', function () {
        document.getElementById('farmnameMsg').innerText = '';
    });
    document.getElementById('N-leanCount').addEventListener('input', function () {
        document.getElementById('nleanMsg').innerText = '';
    });
    document.getElementById('N-poleCount').addEventListener('input', function () {
        document.getElementById('npoleMsg').innerText = '';
    });
    document.getElementById('N-LEDCount').addEventListener('input', function () {
        document.getElementById('nledMsg').innerText = '';
    });
    document.getElementById('verticalCount').addEventListener('input', function () {
        document.getElementById('customleanMsg').innerText = '';
    });

    document.getElementById('firststep').addEventListener('click', function () {
        var housename = document.getElementById("houseName").value;
        var plantname = document.getElementById("plantName").value;
        var farmname = document.getElementById("farmName").value;

        if (housename == '') {
            document.getElementById('housenameMsg').innerText = 'ハウス名を入力してください。';
        }
        else if (plantname == '') {
            document.getElementById('plantnameMsg').innerText = '作物を選択してください。';
        }
        else if (farmname == '') {
            document.getElementById('farmnameMsg').innerText = '農場を選択してください。';
        } else {

            var active = $(".wizard .nav-tabs li.active");
            active.next().removeClass("disabled");
            nextTab(active);
        }

    });





</script>

{% endblock javascripts %}