{% extends "layouts/base.html" %} {% block title %} Form data{% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
<style>
    .center-container {
      display: flex;
      justify-content: flex-end;
      align-items: center;
    }


  </style>
{% endblock stylesheets %} 


{% block content %}
<nav aria-label="breadcrumb" role="navigation">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/plant_setting">作物設定</a></li>
        {% if show == 'true' %}
        <li class="breadcrumb-item" aria-current="page">作物の編集</li>
        {% else %}
        <li class="breadcrumb-item" aria-current="page">作物追加</li>
        {% endif %}
    </ol>
</nav>
<div class="card">
    <div class="card-body">
        {% if error_message %}
        <p class="text-danger">{{ error_message }}</p>
        {% endif %}
        <form id="plantForm" method="post" action=""　autocomplete="off">
            {% csrf_token %}
            <div class="form-group">
                <label class="bmd-label-floating" for="plant_name">作物名</label>
                {{ form.plant_name }}
                <span class="text-danger" id="plantNameMsg"></span>
            </div>
            <br>
    
            <div class="form-group">
                <label class="bmd-label-floating" for="distance">光源距離(cm)</label>
                {{ form.distance }}
                <span class="text-danger" id="distanceMsg"></span>
            </div>
            <br>
            <div class="row align-items-center"">
                <div class="col-sm-2" style="color: #AAAAAA;">
                    照射時間(hh:mm:ss)
                </div>
                <div class="col-1">
                    <div class="form-group">
                    <label class="bmd-label-floating" for="hour">hh</label>
                    <input type="number" class="form-control time-input" id="hour" maxlength="2" pattern="\d+" >
                    </div>
                </div>
                <div class="col-0.25">
                    :
                </div>
                <div class="col-1">
                    <div class="form-group">
                        <label class="bmd-label-floating" for="minute">mm</label>
                        <input type="number" class="form-control time-input" id="minute" maxlength="2" >
                    </div>
                </div>
                <div class="col-0.25">
                    :
                </div>
                <div class="col-1">
                    <div class="form-group">
                        <label class="bmd-label-floating" for="second">ss</label>
                        <input type="number" class="form-control time-input" id="second" maxlength="2">
                    </div>
                </div>
            </div>
            <span class="text-danger" id="timeMsg"></span>
            {{ form.time_required }}
            <br>
            <br>
            <div class="form-group">
                <label class="bmd-label-floating" for="remarks">備考</label>
                {{ form.remarks }}
            </div>
            <div class="center-container">
                <a href="/plant_setting">
                    <button type="button" class="btn btn-Secondary mr-3">戻る</button></a>
                    {% if show == 'true' %}
    <button type="submit" id="updateBtn" class="btn btn-success" >変更</button>
    {% else %}
                <button type="submit" id="addBtn" class="btn btn-success" >追加</button>
                {% endif %}
            </div>
        </form>
    </div>
</div>


{% endblock content %}

      <!-- Specific Page JS goes HERE  -->
     

{% block javascripts %}


<script>
document.getElementById('id_plant_name').addEventListener('input', function() {
    document.getElementById('plantNameMsg').innerText = '';
});

document.getElementById('id_distance').addEventListener('input', function() {
    document.getElementById('distanceMsg').innerText = '';
});

document.getElementById('hour').addEventListener('input', function() {
    document.getElementById('timeMsg').innerText = '';
});

document.getElementById('minute').addEventListener('input', function() {
    document.getElementById('timeMsg').innerText = '';
});

document.getElementById('second').addEventListener('input', function() {
    document.getElementById('timeMsg').innerText = '';
});
document.getElementById('plantForm').addEventListener('submit', function(event) {
    var plantInput = document.getElementById('id_plant_name').value;
    var distanceInput = document.getElementById('id_distance').value;
    var hour = document.getElementById('hour').value;
    var minute = document.getElementById('minute').value;
    var second = document.getElementById('second').value;


    document.getElementById('plantNameMsg').innerText = '';
    document.getElementById('distanceMsg').innerText = '';
    document.getElementById('timeMsg').innerText = '';

    if (plantInput === '') {
            document.getElementById('plantNameMsg').innerText = '作物名を入力してください。';
            event.preventDefault(); 
        }
    
    if (distanceInput === '' ) {
        document.getElementById('distanceMsg').innerText = '距離を入力してください。';
        event.preventDefault();
        } else if (distanceInput <= 0){
            document.getElementById('distanceMsg').innerText = '距離は0より大きくなければなりません。';
            event.preventDefault();
        }
    
    if (hour < 0 ){
        document.getElementById('timeMsg').innerText = '時間はマイナスであってはなりません。';
        event.preventDefault(); 
    }else if(hour > 99 ){
        document.getElementById('timeMsg').innerText = '時間は 99 を超えてはなりません。';
        event.preventDefault();
    }else if(minute > 59 ){
        document.getElementById('timeMsg').innerText = '分は 59 を超えてはなりません。';
        event.preventDefault();
    }else if(minute < 0 ){
        document.getElementById('timeMsg').innerText = '分は 59 を超えてはなりません。';
        event.preventDefault();
    }else if(second > 59 ){
        document.getElementById('timeMsg').innerText = '秒は 59 を超えてはなりません。';
        event.preventDefault();
    }else if(second < 0 ){
        document.getElementById('timeMsg').innerText = '秒は 59 を超えてはなりません。';
        event.preventDefault();
    }

    var combinedTime = ('00' + hour).slice(-2) + ':' + ('00' + minute).slice(-2) + ':' + ('00' + second).slice(-2);
    document.getElementById('id_time_required').value = combinedTime;
    
    if (combinedTime === '00:00:00'){
        document.getElementById('timeMsg').innerText = '時間を入力してください。';
        event.preventDefault(); 
    }
});

document.addEventListener("DOMContentLoaded", function () {
    var timeRequiredValue = document.getElementById('id_time_required').value;
    if (timeRequiredValue) {
        var parts = timeRequiredValue.split(":");
        document.getElementById("hour").value = parseInt(parts[0]);
        document.getElementById("minute").value = parseInt(parts[1]);
        document.getElementById("second").value = parseInt(parts[2]);
    }
});

</script>
{% endblock javascripts %}