{% extends "layouts/base.html" %} {% block title %} Form data{% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
<style>
    .center-container {
      display: flex;
      justify-content: flex-end;
      align-items: center;
    }
  </style>
{% endblock stylesheets %} 


{% block content %}
<nav aria-label="breadcrumb" role="navigation">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/settings.html">作物管理</a></li>
        <li class="breadcrumb-item" aria-current="page">作物設定</li>
    </ol>
</nav>
<div class="card">
    <div class="card-body">
        <form>
            <div class="form-group">
                <label class="bmd-label-floating" for="plantname">作物名</label>
                <input type="text" class="form-control" id="plantname">
            </div>
            <br>
    
            <div class="form-group">
                <label class="bmd-label-floating" for="distance">光源距離(cm)</label>
                <input type="text" class="form-control" id="distance">
            </div>
            <br>
            <div class="row align-items-center"">
                <div class="col-sm-2 ">
                    照射時間（hh:mm:ss)
                </div>
                <div class="col-1">
                    <div class="form-group">
                    <label class="bmd-label-floating" for="time">hh</label>
                    <input type="number" class="form-control time-input" id="hour" maxlength="2" pattern="\d+" required>
                    </div>
                </div>
                <div class="col-0.25">
                    :
                </div>
                <div class="col-1">
                    <div class="form-group">
                        <label class="bmd-label-floating" for="time">mm</label>
                        <input type="number" class="form-control time-input" id="minute" maxlength="2" max="59" required>
                    </div>
                </div>
                <div class="col-0.25">
                    :
                </div>
                <div class="col-1">
                    <div class="form-group">
                        <label class="bmd-label-floating" for="time">ss</label>
                        <input type="number" class="form-control time-input" id="second" maxlength="2" max="59" required>
                    </div>
                </div>
            </div>
            <div class="center-container">
                <button type="submit" class="btn btn-success" onclick="validateAndCombine()">追加</button>
            </div>
        </form>
    </div>
</div>


{% endblock content %}

      <!-- Specific Page JS goes HERE  -->
     

{% block javascripts %}
<script>
// const input = document.querySelector('input[required]');
// input.setCustomValidity('このフィールドを入力してください。');

// // Listen for the form submit event
// input.addEventListener('submit', () => {
//   if (input.validity.valueMissing) {
//     // Prevent the form from submitting
//     event.preventDefault();

//     // Display the validation message
//     input.setCustomValidity('このフィールドを入力してください。');
//   }
// });
var combinedTime ='';
function validateAndCombine() {
        var hour = document.getElementById('hour').value;
        var minute = document.getElementById('minute').value;
        var second = document.getElementById('second').value;

        // Combine values into a single format
        combinedTime = ('00' + hour).slice(-2) + ':' + ('00' + minute).slice(-2) + ':' + ('00' + second).slice(-2);

        console.log('Combined time stored in variable:', combinedTime);
    }
</script>
{% endblock javascripts %}