{% extends "layouts/base.html" %} {% block title %} Dashboard {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
<style>


</style>
{% endblock stylesheets %} {% block content %}
<h3>ダッシュボード</h3>
<div class="row">
  <div class="col-lg-3 col-md-6 col-sm-6">
    <a href="/apps/templates/home/house-lights.html">
    <div class="card card-stats" style="cursor: pointer;">
      <div class="card-header card-header-success card-header-icon">
        <div class="card-icon"><i class="material-icons">warehouse</i>A</div>
        <p class="card-category">温度 / 湿度</p>
        <h4 class="card-title" style="display: flex;align-items: center;justify-content: end;flex-wrap: wrap;">
          <span class="material-icons text-danger">device_thermostat</span>49℃ /
          <span class="material-icons text-info">opacity</span>49%
        </h4>
      </div>
      <div class="card-footer">
        <div class="stats"><i class="material-icons">update</i> 現在</div>
      </div>
    </div>
  </a>
  </div>
  <div class="col-lg-3 col-md-6 col-sm-6">
    <a href="/apps/templates/home/house-lights.html">
    <div class="card card-stats" style="cursor: pointer;">
      <div class="card-header card-header-success card-header-icon">
        <div class="card-icon"><i class="material-icons">warehouse</i>B</div>
        <p class="card-category">温度 / 湿度</p>
        <h4 class="card-title" style="display: flex;align-items: center;justify-content: end;flex-wrap: wrap;">
          <span class="material-icons text-danger">device_thermostat</span>49℃ /
          <span class="material-icons text-info">opacity</span>49%
        </h4>
      </div>
      <div class="card-footer">
        <div class="stats"><i class="material-icons">update</i> 現在</div>
      </div>
    </div>
  </a>
  </div>
  <div class="col-lg-3 col-md-6 col-sm-6">
    <a href="/apps/templates/home/house-lights.html">
    <div class="card card-stats" style="cursor: pointer;">
      <div class="card-header card-header-success card-header-icon">
        <div class="card-icon"><i class="material-icons">warehouse</i>C</div>
        <p class="card-category">温度 / 湿度</p>
        <h4 class="card-title" style="display: flex;align-items: center;justify-content: end;flex-wrap: wrap;">
          <span class="material-icons text-danger">device_thermostat</span>49℃ /
          <span class="material-icons text-info">opacity</span>49%
        </h4>
      </div>
      <div class="card-footer">
        <div class="stats"><i class="material-icons">update</i> 現在</div>
      </div>
    </div>
  </a>
  </div>
  <div class="col-lg-3 col-md-6 col-sm-6">
    <a href="/apps/templates/home/house-lights.html">
    <div class="card card-stats" style="cursor: pointer;">
      <div class="card-header card-header-success card-header-icon">
        <div class="card-icon"><i class="material-icons">warehouse</i>D</div>
        <p class="card-category">温度 / 湿度</p>
        <h4 class="card-title" style="display: flex;align-items: center;justify-content: end;flex-wrap: wrap;">
          <span class="material-icons text-danger">device_thermostat</span>49℃ /
          <span class="material-icons text-info">opacity</span>49%
        </h4>
      </div>
      <div class="card-footer">
        <div class="stats"><i class="material-icons">update</i> 現在</div>
      </div>
    </div>
  </a>
  </div>
</div>
<!-- ------------------------------------------------------------------------------------------------------ -->
<div class="row justify-content-around">
  <div class="col-lg-3">
    <div class="card text-center red">
      <div class="card-header"> <h3>農家の数</h3> </div>
      <div class="card-body">
        <h1 class="card-title">50</h1>
      </div>
    </div>
  </div>
  <div class="col-lg-3 green">
    <div class="card text-center">
      <div class="card-header"> <h3>ハウスの数</h3> </div>
      <div class="card-body">
        <h1 class="card-title">102</h1>
      </div>
    </div>
  </div>
  <div class="col-lg-3">
    <div class="card text-center">
      <div class="card-header"> <h3>使用LEDのONの数</h3> </div>
      <div class="card-body">
        <h1 class="card-title">60<span style="font-size:30px;">/200</span></h1>
      </div>
    </div>
  </div>
</div>

<div class="row justify-content-around">
    
    <div class="col-lg-3">
        <h3>ハウス A</h3>
      <div class="card text-center red">
        <div class="card-header"> <h3>現在の温度</h3> </div>
        <div class="card-body">
          <h1 class="card-title">32<span style="font-size:30px;">℃</span></h1>
        </div>
        <div class="card-header"> <h3>現在の湿度</h3> </div>
        <div class="card-body">
          <h1 class="card-title">64<span style="font-size:30px;">%</span></h1>
        </div>
      </div>
    </div>
    <div class="col-lg-3">
        <h3>ハウス B</h3>
      <div class="card text-center red">
        <div class="card-header"> <h3>現在の温度</h3> </div>
        <div class="card-body">
          <h1 class="card-title">32<span style="font-size:30px;">℃</span></h1>
        </div>
        <div class="card-header"> <h3>現在の湿度</h3> </div>
        <div class="card-body">
          <h1 class="card-title">64<span style="font-size:30px;">%</span></h1>
        </div>
      </div>
    </div>
    <div class="col-lg-3">
        <h3>ハウス C</h3>
      <div class="card text-center red">
        <div class="card-header"> <h3>現在の温度</h3> </div>
        <div class="card-body">
          <h1 class="card-title">32<span style="font-size:30px;">℃</span></h1>
        </div>
        <div class="card-header"> <h3>現在の湿度</h3> </div>
        <div class="card-body">
          <h1 class="card-title">64<span style="font-size:30px;">%</span></h1>
        </div>
      </div>
    </div>
    </div>
  <div class="row justify-content-around">
    <div class="col-lg-3">
      <div class="card text-center">
        <div class="card-header"> <h3>使用LEDのONの数</h3> </div>
        <div class="card-body">
          <h1 class="card-title">60<span style="font-size:30px;">/200</span></h1>
        </div>
      </div>
    </div>
    <div class="col-lg-3">
        <div class="card text-center">
          <div class="card-header"> <h3>使用LEDのONの数</h3> </div>
          <div class="card-body">
            <h1 class="card-title">60<span style="font-size:30px;">/200</span></h1>
          </div>
        </div>
      </div>
      <div class="col-lg-3">
        <div class="card text-center">
          <div class="card-header"> <h3>使用LEDのONの数</h3> </div>
          <div class="card-body">
            <h1 class="card-title">60<span style="font-size:30px;">/200</span></h1>
          </div>
        </div>
      </div>
  </div>


{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

<script>
  $(document).ready(function () {
    // Javascript method's body can be found in assets/js/demos.js
    md.initDashboardPageCharts();
  });
</script>

{% endblock javascripts %}
