{% extends "layouts/base.html" %} {% block title %} Dashboard {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
<style>
.custom-card-height {
  height: 200px;
}
.custom-card-height1 {
  height: 375px;  
}
.color1{
  background-color:#cde9ce;
}

</style>
{% endblock stylesheets %} 
{% block content %}
<div class="row justify-content-start">
  {% if  user_role_id == '1' or user_role_id == '0' %}
  <div class="col-lg-3">
    <div class="card text-center custom-card-height color1">
      <div class="card-header"> 
        <h3 class="text-center">{% if user_role_id == '0'%}有効な農家の数{% elif user_role_id == '1'%}有効なユーザの数{% endif %}</h3> 
      </div>
      <div class="card-body d-flex flex-column justify-content-center align-items-center">
        <h1 class="card-title">
          {{ admin_count }}</h1>
      </div>
    </div>
  </div>
{% endif %}
{% if  user_role_id == '0' %}
  <div class="col-lg-3">
    <div class="card text-center custom-card-height color1">
      <div class="card-header"> 
        <h3 class="text-center">作物の数</h3> 
      </div>
      <div class="card-body d-flex flex-column justify-content-center align-items-center">
        <h1 class="card-title">{{ plant_count }}</h1>
      </div>
    </div>
  </div>
  {% endif %}

  {% if  user_role_id == '1' or user_role_id == '0' %}
  <div class="col-lg-3 ">
    <div class="card text-center custom-card-height color1">
      <div class="card-header"> 
        <h3 class="text-center">農場の数</h3> 
      </div>
      <div class="card-body d-flex flex-column justify-content-center align-items-center">
        <h1 class="card-title">{{ farm_count }}</h1>
      </div>
    </div>
  </div>
  {% endif %}
  
  <div class="col-lg-3">
    <div class="card text-center custom-card-height color1">
      <div class="card-header"> <h3 class="text-center">有効なハウスの数</h3> </div>
      <div class="card-body d-flex flex-column justify-content-center align-items-center">
        <h1 class="card-title">{{ house_count }}</h1>
      </div>
    </div>
  </div>
  <div class="col-lg-3">
    <div class="card text-center custom-card-height color1">
      <div class="card-header"> <h3 class="text-center">使用LEDのONの数</h3> </div>
      <div class="card-body d-flex flex-column justify-content-center align-items-center">
        <h1 class="card-title">{{ led_on_count }}<span style="font-size:30px;">
          /{{ led_full_count }}</span></h1>
      </div>
    </div>
</div>
</div>
<br>
<div class="d-flex align-items-center justify-content-end justify-content-end mb-3">

<div class="d-flex align-items-center justify-content-end justify-content-between mb-3">
  <h3>{% if selected_user_name %}{{ selected_user_name }}{% endif %}&nbsp;&nbsp;&nbsp;{% if selected_farm_name %}{{ selected_farm_name }}{% endif %}</h3>
  {% if user_role_id == '1' or user_role_id == '0'%}
  {% if user_id or user_role_id == '1' %}
  </div>
<div class="d-flex align-items-center justify-content-end justify-content-between">
  <div class="justify-content-start w-50 d-none d-md-block"><h3>{% if selected_farm_name %}{{ selected_farm_name }}{% endif %}</h3></div>
  {% if user_role_id == '0'%}
  <div class="d-flex align-items-center justify-content-end ">
  <div class="dropdown my-2">
    <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
     <span>農家フィルター</span>
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      {% if users_list|length > 0 %}
      {% for user in users_list %}
          <a class="dropdown-item" href="{% url 'home' %}?user={{ user.id }}">{{ user.company.company_name }}</a>
      {% endfor %}
      {% else %}
      <p class="dropdown-item text-warning">農家がありません</p>
      {% endif %}
    </div>
  </div>
</div>
  {% endif %}
  {% if user_role_id == '1' or user_role_id == '0'%}
  <div class="d-flex align-items-center justify-content-end ">
  <div class="dropdown my-2">
    <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
     <span>農場フィルター</span>
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      {% if farms|length > 0 %}
      {% for farm in farms %}
      {% if user_id %}
      <a class="dropdown-item" href="{% url 'home_with_farm' farm_id=farm.farm_id %}?user={{ farm.user_id }}">{{ farm.farm_name }}</a>
      {% else %}
          <a class="dropdown-item" href="{% url 'home_with_farm' farm_id=farm.farm_id %}">{{ farm.farm_name }}</a>
          {% endif %}
      {% endfor %}
      {% else %}
      <p class="dropdown-item text-warning">農場がありません</p>
      {% endif %}
  </div>
  </div>
</div>
  {% endif %}
  {% endif %}
</div>

{% if houses|length > 0 %}
<div class="row">
{% for house in houses %}
<div class="col-lg-4 col-md-6 col-sm-6">
    <a href="{% url 'LED_control_farm_id' farm_id=house.farm_id %}?house={{ house.house_id }}">
    <div class="card card-stats" style="cursor: pointer;">
        <div class="card-header card-header-success card-header-icon">
            <div class="card-icon text-left w-50"><i class="material-icons">warehouse</i>{{ house.house_name }}</div>
            <p class="card-category">温度 / 湿度</p>
            <h4 class="card-title">
              <div>
                  <span class="material-icons text-danger">device_thermostat</span> 
                  {{temperature}}
              </div>
              <br>
              <div>
                  <span class="material-icons text-info">opacity</span> 
                  {{humidity}}
              </div>
            </h4>
            <br>
            <div class="card-title d-flex justify-content-between">
                <h4>使用LEDのONの数</h4>
                <h4>{{ house.house_led_on_count }}/{{ house.total_leds }}</h4>
            </div>
        </div>
        <!-- <div class="card-footer">
            <div class="stats"><i class="material-icons">update</i> 現在</div>
        </div> -->
    </div>
    </a>
</div>
{% endfor %}
</div>
{% else %}
      <div class="text-center">
        <h4 class="text-warning">{{ display_message }}</h4>
    </div>
{% endif %}





{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
