{% extends "layouts/base.html" %} {% block title %} 光源設定 {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %} {% block content %}
<style>
  .container {
    text-align: center;
    margin-top: 50px;
  }

  .switch {
    position: relative;
    display: inline-block;
    width: 38px;
    height: 20px;
  }

  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }

  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: 0.4s;
    transition: 0.4s;
    border-radius: 34px;
  }

  .flex-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .slider:before {
    position: absolute;
    content: "";
    height: 15px;
    width: 15px;
    left: 4px;
    bottom: 2px;
    background-color: white;
    -webkit-transition: 0.4s;
    transition: 0.4s;
    border-radius: 50%;
  }

  input:checked+.slider {
    background-color: #66bb6a;
  }

  input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(16px);
  }

  input:checked+.slider+.toggle-text {
    left: 35px;
  }
</style>
<script>
  document.addEventListener("DOMContentLoaded", function () {
    const colorToggles = document.querySelectorAll(".colorToggle");

    colorToggles.forEach(function (toggle) {
      const toggleText = toggle.nextElementSibling.nextElementSibling;

      toggle.addEventListener("change", function () { });
    });
  });
</script>
<div class="flex-container">
  <h3>農家管理</h3>
  <a href="/apps/templates/home/add-farm.html"><button type="submit" class="btn btn-success"> <span
        class="material-icons">add_circle
      </span>&nbsp;&nbsp;追加</button></a>
</div>

<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-body">
        <div class="table-responsive">
          <table class="table table-striped">
            <thead class="text-primary-emphasis table-success">
              <th>ID</th>
              <th>農家名</th>
              <th>担当者</th>
              <th>メール</th>
              <th>住所</th>
              <th>ステイタス</th>
              <th>アクション</th>
            </thead>
            <tbody>
              <tr>
                <td>XXXX01</td>
                <td>農家１</td>
                <td>南相馬</td>
                <td>uvbdemo1@gmail.com</td>
                <td>〒106-6182東京都港区六本木6-10-1 六本木ヒルズ森タワー</td>
                <td> 無 <label class="switch">
                    <input type="checkbox" class="colorToggle" />
                    <span class="slider round"></span>
                  </label> 有 </td>
                <td><a class="text-warning" href="#">編集</a>&nbsp; &nbsp;|&nbsp;&nbsp; 
                  <a class="text-danger" href="#" data-toggle="modal" data-target="#DeleteModal">削除</a>
                </td>
              </tr>
              <tr>
                <td>XXXX02</td>
                <td>農家２</td>
                <td>南相馬</td>
                <td>uvbdemo2@gmail.com</td>
                <td>〒106-6182東京都</td>
                <td> 無 <label class="switch">
                  <input type="checkbox" class="colorToggle" />
                  <span class="slider round"></span>
                </label> 有 </td>
                <td><a class="text-warning" href="#">編集</a>&nbsp; &nbsp;|&nbsp;&nbsp; 
                  <a class="text-danger" href="#" data-toggle="modal" data-target="#DeleteModal">削除</a>
                </td>
              </tr>
              <tr>
                <td>XXXX03</td>
                <td>農家３</td>
                <td>南相馬</td>
                <td>uvbdemo3@gmail.com</td>
                <td>〒101-6182大阪都</td>
                <td> 無 <label class="switch">
                  <input type="checkbox" class="colorToggle" />
                  <span class="slider round"></span>
                </label> 有 </td>
                <td><a class="text-warning" href="#">編集</a>&nbsp; &nbsp;|&nbsp;&nbsp; <a class="text-danger" href="#" data-toggle="modal" data-target="#DeleteModal">削除</a>
                </td>
            </tbody>
          </table>
          <nav aria-label="...">
            <ul class="pagination justify-content-end">
              <li class="page-item disabled">
                <a class="page-link" href="javascript:;" tabindex="-1">前</a>
              </li>
              <li class="page-item active">
                <a class="page-link" href="javascript:;">1 <span class="sr-only">(current)</span></a>
              </li>
              <li class="page-item"><a class="page-link" href="javascript:;">2</a></li>
              <li class="page-item"><a class="page-link" href="javascript:;">3</a></li>
              <li class="page-item">
                <a class="page-link" href="javascript:;">次</a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
      <!--Delete Modal -->
      <div class="modal fade" id="DeleteModal" tabindex="-1" role="dialog" aria-labelledby="modalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">削除</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              農場<span id="deleteNameSpan"></span> を削除してもよろしいですか？
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">キャンセル</button>
              <button type="button" id="deleteButton" class="btn btn-danger">削除</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}