{% extends "layouts/base.html" %} {% block title %} ハウス {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %} {% block content %}
<style>
  .container {
    text-align: center;
    margin-top: 50px;
  }

  .switch {
    position: relative;
    display: inline-block;
    width: 38px;
    height: 19px;
  }

  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }

  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: 0.4s;
    transition: 0.4s;
    border-radius: 34px;
  }

  .flex-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .slider:before {
    position: absolute;
    content: "";
    height: 15px;
    width: 15px;
    left: 4px;
    bottom: 2px;
    background-color: white;
    -webkit-transition: 0.4s;
    transition: 0.4s;
    border-radius: 50%;
  }

  .switch input:checked+.slider {
    background-color: #66bb6a;
  }

  .switch input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(16px);
  }
</style>



<div class="flex-container justify-content-end">
    {% if user_id %}
  <a href="{% url 'add_house' %}?user={{ user_id }}"><button type="submit" name="search" class="btn btn-success"><span class="material-icons"">add_circle
    </span>&nbsp;&nbsp;追加</button>
  </a>
  {% else %}
  <a href="{% url 'add_house' %}"><button type="submit" name="search" class="btn btn-success"><span class="material-icons"">add_circle
  </span>&nbsp;&nbsp;追加</button>
</a>
 {% endif %}
</div>
<div class=" row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-body">
        <div class="d-flex align-items-center justify-content-end justify-content-between">
         <div class="justify-content-start w-50 d-none d-md-block "><h3 class="my-2">{% if user_role_id == '0' %}{{ selected_user_name }}{% else %}{{ selected_farm_name }}{% endif %}</h3>
         </div>
      {% if user_role_id == '0' %}
         <div class="d-flex align-items-center justify-content-end">
          <div class="dropdown my-2">
            <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
              <span>農家フィルター</span>
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              {% if users_list|length > 0 %}
              {% for user in users_list %}
              <a class="dropdown-item" href="{% url 'house_list' %}?user={{ user.id }}">{{ user.first_name }}</a>
              {% endfor %}
              {% else %}
              <p class="dropdown-item text-warning">農家がありません</p>
              {% endif %}
            </div>
          </div>
        </div>
    {% endif %}
        <div class="d-flex align-items-center justify-content-end">
          <div class="dropdown my-2">
            <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
              <span>農場フィルター</span>
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              {% if farms|length > 0 %}
              {% for farm in farms %}
              <a class="dropdown-item" href="{% url 'house_list_with_farm' farm_id=farm.farm_id %}">{{ farm.farm_name }}</a>
              {% endfor %}
              {% else %}
              <p class="dropdown-item text-warning">農場がありません</p>
              {% endif %}
            </div>
          </div>
        </div>
        </div>
        <div class="table-responsive">
          <table class="table table-striped">
            <thead class="text-primary-emphasis table-success">
              <th>ハウス名</th>
              <th>作物名</th>
              <th>ユーザー名</th>
              <th>レーンの数</th>
              <th>ポール数</th>
              <th>LEDの数</th>
              <th>メモ</th>
              <th>ステイタス</th>
              <th>アクション</th>
            </thead>
            {% if page.object_list|length > 0 %}
            <tbody>
              {% for house in page.object_list %}
              <tr>
                <td>{{ house.house_name }}</td>
                <td>{% if house.plant.plant_name %}{{ house.plant.plant_name }}{% else %}<span class="text-danger">プラント未割り当て</span>{% endif %}</td>
                <td>{{ house.user.first_name }}</td>
                <td>{{ house.total_line_count }}</td>
                <td>{{ house.total_pole_count }}</td>
                <td>{{ house.total_leds }}</td>
                <td>{{ house.memo }}</td>
                <td>
                  <form method="post"
                    action="{% if farm and farm.farm_id %}{% url 'house_list_with_farm' farm_id=farm.farm_id %}{% else %}{% url 'house_list' %}{% endif %}"
                    class="status-form" id="status-form-{{ house.house_id }}">
                    {% csrf_token %}
                    <input type="hidden" name="house_id" value="{{ house.house_id }}">
                    <input type="hidden" name="farm_id" value="{{ house.farm.farm_id }}">
                    無 &nbsp; <label class="switch">
                      <input type="checkbox" class="colorToggle" {% if house.is_active %}checked{% endif %}>
                      <span class="slider round"></span>
                    </label> &nbsp;有
                  </form>
                </td>
                <td>
                  <a class="text-warning" href="/update_house/{{house.house_id}}">編集</a>&nbsp; &nbsp;|&nbsp;&nbsp;
                  <a href="#" class="text-danger deleteButton" data-house-name="{{ house.house_name }}"
                    data-house-id="{{ house.house_id }}" data-farm-id="{{ house.farm.farm_id }}">削除</a>
                </td>
              </tr>
              {% endfor %}
            </tbody>
            {% else %}
            <tbody>
              <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td class="text-warning">データがありません</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
            </tbody>
            {% endif %}
          </table>

          <!-- Pagination Section  -->
          <div class="flex-container">
            <p>ページ: {{ page.number }}/{{ page.paginator.num_pages }}</p>
            <nav aria-label="...">
              <ul class="pagination justify-content-end">
                <li class="page-item">
                  {% if page.has_previous %}
                  <a class="page-link" href="{% if selected_farm_id %}{% url 'house_list_with_farm' farm_id=selected_farm_id %}{% else %}{% url 'house_list' %}{% endif %}?page=1" tabindex="-1">最初</a>
                  {% endif %}
                </li>
                <li class="page-item">
                  {% if page.has_previous %}
                  <a class="page-link"
                    href="{% if selected_farm_id %}{% url 'house_list_with_farm' farm_id=selected_farm_id %}{% else %}{% url 'house_list' %}{% endif %}?page={{ page.previous_page_number }}"
                    tabindex="-1">前</a>
                  {% endif %}
                </li>
                {% for num_page in page.paginator.page_range %}
                {% if page.number == num_page %}
                <li class="page-item active">
                  <a class="page-link"
                    href="{% if selected_farm_id %}{% url 'house_list_with_farm' farm_id=selected_farm_id %}{% else %}{% url 'house_list' %}{% endif %}?page={{ num_page }}">{{ num_page }}<span class="sr-only">(current)</span></a>
                </li>
                {% else %}
                <li class="page-item">
                  <a class="page-link"
                    href="{% if selected_farm_id %}{% url 'house_list_with_farm' farm_id=selected_farm_id %}{% else %}{% url 'house_list' %}{% endif %}?page={{ num_page }}">{{ num_page }}<span class="sr-only">(current)</span></a>
                </li>
                {% endif %}
                {% endfor %}
                <li class="page-item">
                  {% if page.has_next %}
                  <a class="page-link"
                    href="{% if selected_farm_id %}{% url 'house_list_with_farm' farm_id=selected_farm_id %}{% else %}{% url 'house_list' %}{% endif %}?page={{ page.next_page_number }}">次</a>
                  {% endif %}
                </li>
                <li class="page-item">
                  {% if page.has_next %}
                  <a class="page-link" href="{% if selected_farm_id %}{% url 'house_list_with_farm' farm_id=selected_farm_id %}{% else %}{% url 'house_list' %}{% endif %}?page={{ page.paginator.num_pages }}">最後</a>
                  {% endif %}
                </li>
              </ul>
            </nav>
          </div>

          <!-- Delete House Modal -->
          <div class="modal" id="deleteModal" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title">ハウス削除</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <!-- Are you sure you want to delete this house? -->
                  ハウス『 <span id="houseNameSpan"></span> 』を削除してもよろしいですか？<br>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">キャンセル</button>
                  <form id="deleteForm" method="post">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-danger">削除</button>
                  </form>
                </div>
              </div>
            </div>
          </div>


        </div>
      </div>
    </div>
  </div>
</div>


{% endblock content %}

<!-- Specific Page JS goes HERE  -->

{% block javascripts %}

<script>
  document.querySelectorAll('.colorToggle').forEach(function (checkbox) {
    checkbox.addEventListener('change', function () {
      var form = this.closest('form');
      form.submit();
    });
  });

  document.addEventListener("DOMContentLoaded", function () {
    const deleteButtons = document.querySelectorAll(".deleteButton");
    const deleteForm = document.getElementById("deleteForm");
    const houseNameSpan = document.getElementById("houseNameSpan");

    let currentHouseId;

    deleteButtons.forEach(function (button) {
      button.addEventListener("click", function () {
        currentHouseId = this.getAttribute("data-house-id");
        const houseName = this.getAttribute("data-house-name");
        currentFarmId = this.getAttribute("data-farm-id");
        houseNameSpan.textContent = houseName;
        $("#deleteModal").modal("show");
      });
    });

    deleteForm.addEventListener("submit", function (event) {
      event.preventDefault();
      this.action = `/delete_house/${currentHouseId}/${currentFarmId}/`;
      this.submit();
    });
  });

</script>


{% endblock javascripts %}