{% extends "layouts/base.html" %} {% block title %} UI Tables {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %} {% block content %}

<style>
  .container {
    text-align: center;
    margin-top: 50px;
  }

  .switch {
    position: relative;
    display: inline-block;
    width: 38px;
    height: 19px;
  }

  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }

  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: 0.4s;
    transition: 0.4s;
    border-radius: 34px;
  }

  .flex-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .slider:before {
    position: absolute;
    content: "";
    height: 15px;
    width: 15px;
    left: 4px;
    bottom: 2px;
    background-color: white;
    -webkit-transition: 0.4s;
    transition: 0.4s;
    border-radius: 50%;
  }

  .switch input:checked+.slider {
    background-color: #66bb6a;
  }

  .switch input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(16px);
  }

  #successMessage {
  opacity: 0; /* Start with 0 opacity */
  z-index: 100;
  position: fixed;
  top: 2%;
  left: 50%;
  transform: translateY(-50%, -50%);
  transition: opacity 1.5s ease-in-out; /* Adjust the duration and timing function */
}

#successMessage.show {
  opacity: 1; /* When the 'show' class is added, transition to 1 opacity */
}

  @media (max-width: 767px) {
    #successMessage {
      position: fixed;
      top: 5%;
      left: 50%;
    }
  }

#marquee {
  font-size: 1em;
  font-family: Arial;
  border: none; 
  padding: 0; 
  margin: 0; 
}


</style>

  <div class="d-flex align-items-center justify-content-end">
    <div class="justify-content-start w-100 d-none d-md-block"><h3 class="m-0 text-truncate" style="max-width: 50dvw;">{% if selected_user_name %}{{ selected_user_name }}{% endif %}&nbsp;&nbsp;&nbsp;{% if selected_farm_name %}{{ selected_farm_name }}{% endif %}</h3></div>
    {% if user_role_id == '0'%}
    <div class="d-flex align-items-center justify-content-end ">
    <div class="dropdown my-2">
      <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
       <span>農家フィルター</span>
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        {% if users_list|length > 0 %}
        {% for user in users_list %}
            <a class="dropdown-item" href="{% url 'LED_control' %}?user={{ user.id }}">{{ user.company.company_name }}</a>
        {% endfor %}
        {% else %}
        <p class="dropdown-item text-warning">農家がありません</p>
        {% endif %}
      </div>
    </div>
  </div>
    {% endif %}
    {% if user_id or user_role_id == '1' %}
    <div class="d-flex align-items-center justify-content-end ">
    <div class="dropdown my-2">
      <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton"
          data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <span>農場フィルター</span>
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        {% if farms|length > 0 %}
          {% for farm in farms %}
          {% if user_id %}
          <a class="dropdown-item" href="{% url 'LED_control_farm_id' farm_id=farm.farm_id %}?user={{ farm.user_id }}">{{ farm.farm_name }}</a>
          {% else %}
              <a class="dropdown-item" href="{% url 'LED_control_farm_id' farm_id=farm.farm_id %}">{{ farm.farm_name }}</a>
              {% endif %}
          {% endfor %}
          {% else %}
              <p class="dropdown-item text-warning">農場がありません</p>
              {% endif %}
              
      </div>
  </div>
  </div>
  {% endif %}
</div>


{% if not message1 %}
<div id="marquee" class='text-danger'> <marquee behavior="scroll" direction="left" onmouseover="this.stop();" onmouseout="this.start();">
  Raspberry pi が接続されていません。接続してもう一度お試しください。
  </marquee>
  </div>
{%endif%}

  {% if houses|length > 0 %}
      {% for house in houses %}
      <div class="d-inline-flex align-items-center">
        <h3 class="m-0 d-none d-md-block">{{ house.house_name }}</h3><span class="d-none d-md-block">&nbsp;&nbsp;-&nbsp;&nbsp;{{ house.plant.plant_name }}</span>

        <i class="material-icons text-success ml-3">router</i>
        <span class="ml-1">{{Rbi}}</span>
          <i class="material-icons text-danger ml-3">device_thermostat</i>
          <span class="ml-1">{{temperature}}</span>
          <i class="material-icons text-info ml-3">opacity</i>
          <span class="ml-1">{{humidity}}</span>
          <i class="material-icons text-success ml-3">grass</i>
          <span class="ml-1">{{soil_moisture}}</span>

          <a href="{% url 'LED_data_download' %}?house_id={{ house.house_id }}" class="ml-3">
            <span class="material-icons">sim_card_download</span>
          </a>
          
      </div>
      <div id="accordion">
        {% for line in house.lines.all %}
        <div class="card my-3">
          <div class="card-header p-0" id="heading{{ line.line_id }}">
            <h2 class="mb-0">
              <button class="{% if house == houses.0 and line == house.lines.all.0 %}btn btn-link{% else %}btn btn-link collapsed{% endif %}" 
              type="button" data-toggle="collapse" data-target="#collapse{{ line.line_id }}" aria-expanded="{% if house == houses.0 and line == house.lines.all.0 %}true{% else %}false{% endif %}"
               aria-controls="collapse{{ line.line_id }}">
              
               <h4 class="card-title">レーン&nbsp;{{ line.line_id }}</h4>
           

              </button>
            </h2>
          </div>
      
          <div id="collapse{{ line.line_id }}" class="collapse {% if house == houses.0 and line == house.lines.all.0 %}collapse show {% else %} collapse{% endif %}" 
          aria-labelledby="heading{{ line.line_id }}" data-parent="#accordion">
            <div class="card-body">
              <table class="table table-striped">
                <thead class="text-primary-emphasis table-success mr-1">
                  <th>LED No</th>
                  <th>LED点灯履歴</th>
                  <th>LED消灯履歴</th>
                  <th>照射</th>
                </thead>
                <tbody>
                    {% for pole in line.poles.all|dictsort:"pole_id" %}
                        {% for led in pole.leds.all|dictsort:"led_id" %}
                            <tr>
                              <td>{{ led.led_id }}</td>
                              <td>{{ led.led_on_date|date:"Y/m/d H:i"  }}</td>
                              <td>{{ led.led_off_date|date:"Y/m/d H:i" }}</td>
                                <td>
                                  <form method="post" action="{% if farm and farm.farm_id %}{% url 'LED_control_farm_id' farm_id=farm.farm_id %}{% else %}{% url 'LED_control' %}{% endif %}" class="status-form" id="status-form-{{ led.led_id }}">
                                    {% csrf_token %}
                                    <input type="hidden" name="led_id" value="{{ led.led_id }}">
                                    <input type="hidden" name="farm_id" value="{{ house.farm.farm_id }}">
                                    OFF &nbsp; <label class="switch">
                                      <input type="checkbox" class="colorToggle" {% if led.is_on %}checked{% endif %} >
                                      <span class="slider round"></span>
                                    </label> &nbsp;ON
                                  </form>
                            </tr>
                        {% endfor %}
                    {% endfor %}
                </tbody>
            </table> 
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
        {% endfor %}
        {% else %}
        <div class="text-center">
          <h4 class="text-warning">{% if display_message %}{{ display_message }}{% else %}ハウスがありません{% endif %}</h4>
      </div>
          {% endif %}
 


{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
<script>

  setTimeout(function () {
    var successMessage = document.getElementById('successMessage');
    if (successMessage) {
      successMessage.style.transition = 'opacity 2s'; // Adjust the duration as needed (2s in this example)
    successMessage.style.opacity = '0';
    }
  }, 5000);

  document.querySelectorAll('.colorToggle').forEach(function(checkbox) {
    checkbox.addEventListener('change', function() {
        var form = this.closest('form');
        form.submit();
    });
});


</script>
{% endblock javascripts %}