{% extends "layouts/base.html" %}

{% block title %} Page User {% endblock %}
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
<style>
  .card-avatar.text-center img {
    width: 200px;
    height: 200px;
  }

  .cursor-pointer {
    cursor: pointer;
  }
</style>
{% endblock stylesheets %}
{% block content %}
<!-- Profile Image -->
<div class="row">
  <div class="col-md-8 offset-md-2">
    <div class="card">
      <div class="card-body">
        
        <!-- <div class="alert alert-danger show d-none" role="alert" id="imageSizeError"></div> -->
        <div class="card-avatar text-center">
          {% if profile_image %}
          <img class="img rounded-circle" id="profile-image" src="{{ profile_image.url }}" alt="Profile Image">
          {% else %}
          <img class="img rounded-circle" id="profile-image" src="/static/assets/img/default.png" alt="Default Image">
          {% endif %}
          <div class="camera-icon m-3">
            <i id="upload-icon" class="material-icons cursor-pointer text-primary">camera_alt</i>
          </div>
        </div>

        <div class="text-center">
          <h6 class="">
            <b class="text-gray">農場ID: </b><span>{{ id }}</span>
          </h6>
        </div>
        <!-- Form for getting the input fields  -->
        <form method="post" id="userProfileForm" role="form" enctype="multipart/form-data">
          {% csrf_token %}
          <!-- Hidden file input -->
          <input type="file" name="profile_image" id="image-upload" class="d-none" accept="image/*">
          <div class="row">
            <div class="col-12 m-2">
              <div class="form-group">
                <label class="bmd-label-floating">氏名</label>
                <input type="text" name="first_name" id="firstName" class="form-control" value="{{ first_name }}"
                  maxlength="30">
              </div>
              <span id="FNspan"></span>
            </div>
            <div class="col-12 m-2">
              <div class="form-group">
                <label class="bmd-label-floating">メール</label>
                <input type="email" name="email" class="form-control" value="{{ email }}" disabled>
              </div>
            </div>
            <div class="col-12 m-2">
              <div class="form-group">
                <label class="bmd-label-floating">役割</label>
                <input type="text" name="role_id" class="form-control" {% if user_role_id == "0" %}
                  value="BEAM TECH スーパー管理者" {% elif user_role_id == "1" %} value="管理者" {% else %} value="ユーザー" {% endif %}
                  disabled>
              </div>
            </div>
            <div class="col-12 m-2">
              <div class="form-group">
                <label class="bmd-label-floating">パスワード</label>
                <input type="password" name="password" class="form-control">
              </div>
            </div>
          </div>
          <!-- submit button -->
          <div class="d-flex justify-content-end col-12 m-2">
            <button type="submit" id="updateButton" class="btn btn-primary pull-right">プロフィール更新</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
<script>
  //Profile-Image Upload (image-click function)
  document.getElementById('profile-image').addEventListener('click', function () {
    document.getElementById('image-upload').click();
  });
  //Camera-Icon Upload (image-click function)
  document.getElementById('upload-icon').addEventListener('click', function () {
    document.getElementById('image-upload').click();
  });

  document.getElementById('image-upload').addEventListener('change', function (event) {
    const file = event.target.files[0];
    if (file) {
      if (file.size > 1024 * 1024) {
        // successMessage.innerText = 'Please select an image below 1MB.'
        Toast.fire({
          icon: "error",
          title: '1MB以下の画像を選択してください'
        });
        // Optionally, clear the selected file
        document.getElementById('image-upload').value = '';
        return;
      }

      const reader = new FileReader();
      reader.onload = function (e) {
        const profileImage = document.getElementById('profile-image');
        profileImage.src = e.target.result;
      };
      reader.readAsDataURL(file);
    }
  });

</script>

{% endblock javascripts %}