{% extends "layouts/base.html" %}

{% block title %} Page User {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

          <div class="row">
            <div class="col-md-8">
              <div class="card">
                <div class="card-header card-header-primary">
                  <h4 class="card-title">プロフィール編集</h4>
                  <p class="card-category">プロフィールを完成させましょう</p>
                </div>
                <div class="card-body">
                  <form>
                    <div class="row">
                      <div class="col-md-5">
                        <div class="form-group">
                          <label class="bmd-label-floating">ユーザID</label>
                          <input type="text" class="form-control" disabled value="{{ current_user.id }}">
                        </div>
                      </div>
                      <div class="col-md-3">
                        <div class="form-group">
                          <label class="bmd-label-floating">ユーザ名</label>
                          <input type="text" class="form-control" value="{{ current_user.username }}">
                        </div>
                      </div>
                      <div class="col-md-4">
                        <div class="form-group">
                          <label class="bmd-label-floating">メール</label>
                          <input type="email" class="form-control" value="{{ current_user.email }}">
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-6">
                        <div class="form-group">
                          <label class="bmd-label-floating">ファーストネーム</label>
                          <input type="text" class="form-control">
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="form-group">
                          <label class="bmd-label-floating">苗字</label>
                          <input type="text" class="form-control">
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-12">
                        <div class="form-group">
                          <label class="bmd-label-floating">住所</label>
                          <input type="text" class="form-control">
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-4">
                        <div class="form-group">
                          <label class="bmd-label-floating">市</label>
                          <input type="text" class="form-control">
                        </div>
                      </div>
                      <div class="col-md-4">
                        <div class="form-group">
                          <label class="bmd-label-floating">国</label>
                          <input type="text" class="form-control">
                        </div>
                      </div>
                      <div class="col-md-4">
                        <div class="form-group">
                          <label class="bmd-label-floating">郵便番号</label>
                          <input type="text" class="form-control">
                        </div>
                      </div>
                    </div>
                    <button type="submit" class="btn btn-primary pull-right">プロフィール更新</button>
                    <div class="clearfix"></div>
                  </form>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card card-profile">
                <div class="card-avatar">
                  <a href="#pablo">
                    <img class="img" src="/static/assets/img/faces/marc.jpg" />
                  </a>
                </div>
                <div class="card-body">
                  <h6 class="card-category text-gray">
                    {{ current_user.username }}
                  </h6>
                  <h4 class="card-title">
                    {{ current_user.email }}
                  </h4>
                  <p class="card-description">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure ducimus rem quia, nostrum officiis impedit. Asperiores laborum tempora in labore porro hic vero est fugit sequi minus. Ratione, assumenda asperiores?
                  Fuga eveniet assumenda ab nisi doloremque minima, magni dignissimos blanditiis ea odio unde quam deleniti ducimus, fugit excepturi facere ex veritatis sint adipisci, qui nesciunt maxime. Quos possimus vitae nisi.
                  Nostrum laboriosam molestias iste quis! Tenetur nobis quasi consequuntur aperiam est suscipit provident praesentium quia quae hic nam facilis reiciendis, quo porro recusandae a eveniet error nemo quaerat dolores laudantium.
                  </p>
                </div>
              </div>
            </div>
          </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
