{% extends "layouts/base.html" %}

{% block title %} Page User {% endblock %}
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
<style>
  .card-avatar.text-center img {
    width: 200px;
    height: 200px;
  }
</style>
{% endblock stylesheets %}
{% block content %}
<!-- Profile Image -->
<div class="row">
  <div class="col-md-8 offset-md-2">
    <div class="card">
      <div class="card-body">
        <div class="card-avatar text-center">
          <a href="#">
            <img class="img rounded-circle" src="/static/assets/img/faces/marc.jpg" id="profile-image" />
            <div class="camera-icon m-3">
              <i id="upload-icon" class="material-icons">camera_alt</i>
            </div>
          </a>
          <!-- Hidden file input -->
          <input type="file" id="image-upload" style="display: none;" accept="image/*">
        </div>


        <div class="text-center">
          <h6 class="text-gray">
            XXXXXXX
          </h6>
        </div>
        <!-- Form for getting the input fields  -->
        <form>
          <div class="row">
            <div class="col-12 m-2">
              <div class="form-group">
                <label class="bmd-label-floating">氏名</label>
                <input type="text" name="name" class="form-control" value="{{ current_user.username }}">
              </div>
            </div>
            <div class="col-12 m-2">
              <div class="form-group">
                <label class="bmd-label-floating">メール</label>
                <input type="email" name="email" class="form-control" value="{{ current_user.email }}">
              </div>
            </div>
            <div class="col-12 m-2">
              <div class="form-group">
                <label class="bmd-label-floating">役割</label>
                <input type="text" name="role" class="form-control">
              </div>
            </div>
            <div class="col-12 m-2">
              <div class="form-group">
                <label class="bmd-label-floating">パスワード</label>
                <input type="text" name="password" class="form-control">
              </div>
            </div>
          </div>
          <!-- submit button -->
          <div class="d-flex justify-content-end col-12 m-2">
            <button type="submit" class="btn btn-primary pull-right">プロフィール更新</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
<script>
  //Profile-Image Upload (image-click function)
  document.getElementById('profile-image').addEventListener('click', function () {
    document.getElementById('image-upload').click();
  });
  //Camera-Icon Upload (image-click function)
  document.getElementById('upload-icon').addEventListener('click', function () {
    document.getElementById('image-upload').click();
  });

  document.getElementById('image-upload').addEventListener('change', function (event) {
    const file = event.target.files[0];

    if (file) {
      const reader = new FileReader();
      reader.onload = function (e) {
        const profileImage = document.getElementById('profile-image');
        profileImage.src = e.target.result;
      };
      reader.readAsDataURL(file);
    }
  });

</script>

{% endblock javascripts %}