{% extends "layouts/base.html" %} {% block title %} RPI設定 {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %} {% block content %}
<style>
  .container {
    text-align: center;
    margin-top: 50px;
  }

  .switch {
    position: relative;
    display: inline-block;
    width: 38px;
    height: 19px;
  }

  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }

  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: 0.4s;
    transition: 0.4s;
    border-radius: 34px;
  }

  .flex-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .slider:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 4px;
    bottom: 2px;
    background-color: white;
    -webkit-transition: 0.4s;
    transition: 0.4s;
    border-radius: 50%;
  }

  input:checked+.slider {
    background-color: #66bb6a;
  }

  input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(16px);
  }

  input:checked+.slider+.toggle-text {
    left: 35px;
  }
  #successMessage {
  opacity: 0; /* Start with 0 opacity */
  z-index: 100;
  position: fixed;
  top: 2%;
  left: 50%;
  transform: translateY(-50%, -50%);
  transition: opacity 1.5s ease-in-out; /* Adjust the duration and timing function */
}

#successMessage.show {
  opacity: 1; /* When the 'show' class is added, transition to 1 opacity */
}

  @media (max-width: 767px) {
    #successMessage {
      position: fixed;
      top: 5%;
      left: 50%;
    }
  }
</style>


  
<div class="d-flex align-items-center justify-content-end" >
    <button type="button" name="search" class="btn btn-success" data-toggle="modal" data-target="#addRpimodal">
      <span class="material-icons">add_circle</span>&nbsp;&nbsp;追加
      </button>
  </div>
  <form method="post" action="{% url 'RPI_settings' %}">
    {% csrf_token %}
  <div class="d-flex">
    
    <select name="companyselect" class="form-control" id="companyselect">
      <option value="" >会社を選択してください</option>
      {% for item in choice_companies %}
      {% if company_id %}
      <option  selected value="{{ item.id }}">  {{ item.company_name }}</option>
      {% else %}
        <option  value="{{ item.id }}">{{ item.company_name }}</option>
        {% endif %}
      {% endfor %}
  </select>
 {{ house_id }}
  <select name="houseselect" class="form-control" id="houseselect">
    <option value="" >
        ハウスを選択してください
    </option>
    {% for item in filter_house %}
    {% if item.house_id  == selected_house_id %}
    <option  selected value="{{ item.house_id }}">{{ item }}</option>
    {% else %}
    <option value="{{ item.house_id }}">{{ item }}</option>
      {% endif %}
            
      {% endfor %}
  </select>
  <select name="ledAssign" class="form-control" id="ledAssign">
    <option value="" >
        LEDを選択してください
    </option>
    {% for item in filter_LED_count %}
            <option value="{{ item }}">{{ item }}</option>
        {% endfor %}
  </select>  
  <select name="rpiAssign" class="form-control" id="rpiAssign">
    <option value="" >
        Rpiを選択してください
    </option>
    {% for item in filtered_Rpi %}
            <option value="{{ item.rbi }}">{{ item.rbi }}</option>
        {% endfor %}
  </select>  
  <button type="submit" name="assign" class="btn btn-success">
    <span class="material-icons"></span>&nbsp;&nbsp;割当
    </button>
</div>
</form>
  <div class=" row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead class="text-primary-emphasis table-success">
                            <th>S.no</th>
                            <th>Rpi ID</th>
                            <th>LED割当</th>
                        </thead> 
                        <tbody>
                                {% for rbi in page.object_list %}
                                    <tr>
                                        <td>{{ forloop.counter }}</td>
                                        <td>{{ rbi.rbi }}</td>
                                        <td>{{ rbi.is_assigned }}</td>
                                    </tr>
                                {% endfor %}
                        </tbody>
                    </table>
                    <!-- Pagination Section  -->
                    <div class="flex-container">
                      <p>ページ: {{ page.number }}/{{ page.paginator.num_pages }}</p>
                      <nav aria-label="...">
                        <ul class="pagination justify-content-end">
                          <li class="page-item">
                            {% if page.has_previous %}
                            <a class="page-link" href="?page=1" tabindex="-1">最初</a>
                            {% endif %}
                          </li>
                          <li class="page-item">
                            {% if page.has_previous %}
                            <a class="page-link" href="?page={{ page.previous_page_number }}">前</a>
                            {% endif %}
                          </li>
                          {% for num_page in page.paginator.page_range %}
                          {% if page.number == num_page %}
                          <li class="page-item active">
                            <span class="page-link">{{ num_page }}<span class="sr-only">(current)</span></span>
                          </li>
                          {% else %}
                          <li class="page-item">
                            <a class="page-link" href="?page={{ num_page }}">{{ num_page }}</a>
                          </li>
                          {% endif %}
                          {% endfor %}
                          <li class="page-item">
                            {% if page.has_next %}
                            <a class="page-link" href="?page={{ page.next_page_number }}">次</a>
                            {% endif %}
                          </li>
                          <li class="page-item">
                            {% if page.has_next %}
                            <a class="page-link" href="?page={{ page.paginator.num_pages }}">最後</a>
                            {% endif %}
                          </li>
                        </ul>
                      </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

  <!-- add raspberry pi -->
  <div class=" modal fade" id="addRpimodal" tabindex="-1" role="dialog" data-backdrop="static">
    <div class="modal-dialog modal-dialog-centered" role="dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">ラズベリーを加える</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <form method="POST" id="addRpi" action=""> 
            {% csrf_token %} 
         <div class="modal-body"> {% if error_message %} <span id="errorMessage" class="text-danger">{{ error_message }}</span> {% endif %} 
            <div class="table-responsive">
            <table class="table table-striped">
              <thead class="text-primary-emphasis table-success">
                <th>ID</th>
                  <th>Rpi</th>
              </thead> 
              <tbody>
                {% for rbi in raspberry %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td>{{ rbi }}</td>
                        <input type="hidden" name="ras" value="{{ rbi }}" >
                    </tr>
                        
               {% endfor %}
                
              </tbody>
          </table>
        </div>
          </div>
          <div class="modal-footer">
            <a href="/RPI_settings">
              <button type="button" class="btn btn-secondary"> 戻る </button>
            </a>
            <button type="button" id="addButton" class="btn btn-success"> 追加 </button>
          </div>
        </form>
      </div>
    </div>
  </div>


  <script>
    var raspberry = "{{ raspberry }}"
    var company_id = "{{ company_id }}"

    console.log('company_id',company_id)

document.addEventListener("DOMContentLoaded", function () {

    var form = document.getElementById('addRpi')
    var RaspberryID = document.getElementById('Rpi_id')
    var Raspberrymsg = document.getElementById('Raspberrymsg')
    var addButton = document.getElementById('addButton')
    var selected_company = document.getElementById('companyselect')


    // add form validation 
    addButton.addEventListener('click', function (event) {
      console.log("make a easy")
      form.action = `/add_RPI`;
      form.submit();
   
    })

    selected_company.addEventListener('change', function () {
    console.log('selected_company.value:', selected_company.value);
    window.location = `?company_id=${selected_company.value}`;
});

var houseselect = document.getElementById('houseselect');

houseselect.addEventListener('change', function () {
    console.log('houseselect.value:', houseselect.value);
    window.location = `?company_id=${company_id}&house_id=${houseselect.value}`;
});


    

});
  </script>
      {% endblock content %}

      <!-- Specific Page JS goes HERE  -->
      {% block javascripts %}{% endblock javascripts %}

      