{% extends "layouts/base.html" %}

{% block title %} ハウス編集 {% endblock %}

{% block stylesheets %}
<style>
    .center-container {
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }
    .dropdown {
        display: block;
    }

    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f5f5f5;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        padding: 12px;
        z-index: 1;
        width: max-content;
        min-width: 100%;
        overflow: auto;
        height: 200px;
    }

    .dropdown-content label {
        display: block;
        margin-bottom: 8px;
        color: #000;
    }

    .dropdown-content input {
        margin-right: 8px;
    }

    .dropdown:hover .dropdown-content {
        display: block;
    }
    .z-0{
        z-index:0 !important;
    }
</style>
{% endblock stylesheets %}

{% block content %}
<nav aria-label="breadcrumb" role="navigation">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/house_list">ハウス管理</a></li>
        <li class="breadcrumb-item" aria-current="page">編集</li>
    </ol>
</nav>

<div class="card">
    <div class="card-body">
        <form action="" method="post">
            {% csrf_token %}
            <div class="row">
                <div class="col-md-6 my-4">
                    <div class="form-group dropdown">
                        <div class="">
                        <label>担当者名</label>
                        
                        <input class="form-control" type="text" name="userName" id="user_name" value="{% for house_user_id in house_user_id %}{% for user in choice_user %}{% if house_user_id == user.id %}{{ user.first_name }}{% if not forloop.last %},{% endif %}{% endif %}{% endfor %}{% endfor %}" disabled>
                        <input type="hidden" name="user_id" id="user_id" value="{% for house_user_id in house_user_id %}{% for user in choice_user %}{% if house_user_id == user.id %}{{ user.id }}{% if not forloop.last %},{% endif %}{% endif %}{% endfor %}{% endfor %}">
                        <div class="dropdown-content">
                            <label>
                                <input type="checkbox" id="noOneCheckbox" value="" data-username="管理者">管理者
                            </label>
                            {% for user in choice_user %}
                            <label>
                                <input type="checkbox" id="userCheckbox_{{ user.id }}" 
                                    {% if user.id in house_user_id %} checked {% endif %}
                                    value="{{ user.id }}" data-username="{{ user.first_name }}">
                                {{ user.first_name }}
                            </label>
                        {% endfor %}
                        </div>
                    </div>
                    </div>
                </div>
                <div class="col-md-6 my-4">
                    <div class="form-group">
                        <label for="userName" class="bmd-label-floating">作物名</label>
                        <select name="plant_id" class="form-control" id="plat_name">
                            <option value="">選択してください</option>
                            {% for plant in choice_plant %}
                            <option {% if house_obj.plant_id == plant.plant_id %} selected {% endif %}
                                value="{{ plant.plant_id }}">{{ plant.plant_name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
            </div>
            <div class="row">

                <div class="col-md-6 my-4">
                    <div class="form-group">
                        <label for="userName" class="bmd-label-floating">ハウス名<span class="text-danger">*</span></label>
                        <input type="text" class="form-control" name="house_name" id="houseName"
                            value="{{ house_obj.house_name }}" maxlength="30">
                    </div>
                    {% if errorMessage %}
                    <span id="errorMessage" class="text-danger">{{ errorMessage }}</span>
                    {% endif %}
                </div>
            </div>
            <div class="center-container">
                <a onclick="goBack()" href="#"><button type="button" class="btn btn-Secondary mr-3">キャンセル</button></a>
                <button type="submit" class="btn btn-success">変更</button>
            </div>
        </form>
    </div>
</div>
{% endblock content %}

{% block javascripts %}
<script>
    $(document).ready(function () {
        $('#houseName').keyup(function () {
            $('#errorMessage').text('');
        });
    });
    document.addEventListener("DOMContentLoaded", function () {
        var noOneCheckbox = document.getElementById("noOneCheckbox");
        var otherCheckboxes = document.querySelectorAll(".dropdown-content input[id^='userCheckbox_']");
        var userNameInput = document.getElementById("user_name");

        function updateUserNameInput() {
    var checkedUsers = Array.from(otherCheckboxes)
        .filter(function (checkbox) {
            return checkbox.checked;
        })
        .map(function (checkbox) {
            return {
                username: checkbox.getAttribute("data-username"),
                value: checkbox.value
            };
        });
        
// Handle 管理者 checkbox separately
if (noOneCheckbox.checked) {
            checkedUsers.push({
                username: noOneCheckbox.getAttribute("data-username"),
                value: noOneCheckbox.value
            });
        }
    var checkedUserNames = checkedUsers.map(function (user) {
        return user.username;
    });
    var checkedValues = checkedUsers.map(function (user) {
        return user.value;
    });

    userNameInput.value = checkedUserNames.join(",");
    var farmerId = checkedValues.join(",");
    // var userNameReg = checkedUserNames.join(", ");

    $('#user_id').val(farmerId);
    // $('#userNameReg').val(userNameReg);
}

        otherCheckboxes = Array.from(otherCheckboxes); // Convert NodeList to Array

        otherCheckboxes.forEach(function (checkbox) {
            checkbox.addEventListener("change", function () {

                updateUserNameInput();
            });
        });

        // Add event listener for 管理者 checkbox
    noOneCheckbox.addEventListener("change", function () {
        updateUserNameInput();
    });

    });
</script>
{% endblock javascripts %}